<app-header></app-header>
<section>
  <!--@*@foreach (var item in collection) {

  }*@-->
  <a href="~/Home/PlayerDashboard" style="color: inherit;">
    <div class="row searchRows">
      <div class="col-md-3 " style="text-align:center;">
        <img src="../../assets/Images/basketball-icon.png" height="150" width="150" />
        <h3 style="word-wrap: break-word;">Rune Baun Andersen</h3>
      </div>
      <div class="col-md-3">
        <table class="tableFixed">
          <tr>
            <td>Date of birth:</td>
            <td>12/12/1995</td>
          </tr>
          <tr>
            <td>Nationality:</td>
            <td>Denmark</td>
          </tr>
          <tr>
            <td>Position:</td>
            <td>Left wing</td>
          </tr>
          <tr>
            <td>Contract status:</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Preferred wage:</td>
            <td>300.000 DKK</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <table class="tableFixed">
          <tr>
            <td>Height:</td>
            <td>193 cm</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>100 kg</td>
          </tr>
          <tr>
            <td>Bodyfat:</td>
            <td>90 %</td>
          </tr>
          <tr>
            <td>Preferred hand:</td>
            <td>Right</td>
          </tr>
          <tr>
            <td>Injury status:</td>
            <td>Knee injury</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <div class="circle">90%</div>
      </div>
    </div>
  </a>

  <a href="~/Home/PlayerDashboard" style="color: inherit;">
    <div class="row searchRows">
      <div class="col-md-3 " style="text-align:center;">
        <img src="../../assets/Images/basketball-icon.png" height="150" width="150" />
        <h3 style="word-wrap: break-word;">Rune Baun Andersen</h3>
      </div>
      <div class="col-md-3">
        <table class="tableFixed">
          <tr>
            <td>Date of birth:</td>
            <td>12/12/1995</td>
          </tr>
          <tr>
            <td>Nationality:</td>
            <td>Denmark</td>
          </tr>
          <tr>
            <td>Position:</td>
            <td>Left wing</td>
          </tr>
          <tr>
            <td>Contract status:</td>
            <td>Active</td>
          </tr>
          <tr>
            <td>Preferred wage:</td>
            <td>250.000 DKK</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <table class="tableFixed">
          <tr>
            <td>Height:</td>
            <td>193 cm</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>100 kg</td>
          </tr>
          <tr>
            <td>Bodyfat:</td>
            <td>90 %</td>
          </tr>
          <tr>
            <td>Preferred hand:</td>
            <td>Right</td>
          </tr>
          <tr>
            <td>Injury status:</td>
            <td>Knee injury</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <div class="circle">90%</div>
      </div>
    </div>
  </a>


</section>
