@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
  font-family: 'Fresno';
  src: url('./assets/Fonts/Fresno/Fresno-Regular.otf') format('OpenType'),
       url('./assets/Fonts/Fresno/Fresno-Regular.woff') format('woff'),
       url('./assets/Fonts/Fresno/Fresno-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.popover {
  z-index: 20;
}

.contactButton {
	background-color:#3b8782;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #45a29d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #45a29d;
}
.contactButton:hover {
	background-color:#5cb0aa;
}
.contactButton:active {
  position:relative;
	top:1px;
}
 .contactButton:focus:not(.focus-visible) {
  outline: none;
} 


/* GLOBAL REGISTER STYLES */
.mat-checkbox-layout {
  font-weight: normal;
}
.mat-elevation-z8 {
  box-shadow: none;
}

.mat-menu-panel {
  background-color: #2A344F;
}



.colorLightBlue{
  color: #66FCF1
}

h1 {
  margin-top: 0px;
  padding-top:15px;
}

.colorLightGrey {
  color: #c5c6c7;
}

.topMargin {
  margin-top: 50px;
}

.colorDarkBlue {
  color: #2A344F;
}

.forPlayerClubBackgroundColor {
  background-color: #e8eaec;
  padding-bottom: 20px;
}

.customModal {
  width:300px;
}

body {
  background-color: #000115;
  font-family: 'Roboto';
}

.panel-group .panel .panel-heading {
  background-color: #2A344F;
  }

accordion-group h5 {
  color: #c5c6c7;
}

.custom-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.editProfileButton {
  font-weight: normal;
  width: 60%;
  background-color:  #45a29e;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #45a29e;
  display: inline-block;
  cursor: pointer;
  color:  #ffffff;
  padding: 2.5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #45a29e;
}

  .editProfileButton:hover {
    background-color:  #45a29e;
   }

    .editProfileButton:active {
      position: relative;
      top: 1px;
    }

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
      padding-top: 50px;
    }
  }
  
  /* MULTI-STEP REGISTER */
  .cdk-global-overlay-wrapper, 
  .cdk-overlay-container {
     z-index: 9999!important;
  } 

  .modal-backdrop {
    background-color: white;
    opacity: 0.79 !important;
  }

  .modal-content {
    border:none;
    background-color: transparent;
    box-shadow: none;
  }

  .modal-open {
    overflow-y: auto;
  }

  .modal-dialog {
    margin-top: 60px;
    /* border: 10px solid black; */
  }

  .responsiveImage {
    max-width: 100%;
    height: auto;
  }

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  body {
    padding-right: 0 !important;
  }
  
  /* Set padding to keep content from hitting the edges */
  .body-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-right: 0px; /* this is the exact culprit */
    margin-left: 0px;
  }
  
  #forPlayers, #forClubs, #aboutUs {
    height: 50px;
  }
  
  .informationText {
    word-wrap: break-word;
  }

    .informationText p {
      padding-right: 60px;
    }

  /*FAQ DESIGN*/
  .accordion-toggle[aria-expanded="true"]:before {
    content: "\2796";
    float: right;
}

.accordion-toggle[aria-expanded="false"]:before {
    content: '\02795';
    float: right;
}

.mat-horizontal-stepper-header{
  pointer-events: none !important;
}

  .tableFixed {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
  }

    .tableFixed tr td, .tableFixed tr th {
      padding-top: 15.231px;
    }


  #trainingTable table tr th {
    word-wrap: break-word;
  }

  #trainingTable table tr td {
    word-wrap: break-word;
  }

  .table > tbody > tr > td {
    border-top: 0px;
  }

  .table > thead > tr > th {
    border-bottom: 0px;
  }

  .Schedule {
    width: 90%;
    margin: auto;
  }

  .carousel {
    width: 70%;
  }

  .carousel.slide {
    margin: auto;
  }

  @media (max-width: 415px) {
    .carousel {
      width: 100%;
    }
  
    .carousel.slide {
      margin: none;
    }
  }
  
  .item img {
    object-fit: cover;
    height: 250px !important;
    width: 100% !important;
  }

  .circle {
    line-height: 150px;
    text-align: center;
    background: #000;
    background-color: #e8eaec;
    border: 2px solid #2A344F;
    height: 150px;
    font-size: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 200px;
    margin: 25px auto;

  }
  
  .searchRows {
    border: 2px solid #2A344F;
    margin: 10px 10px 20px 10px;
    cursor: pointer;
    
  }

