.navbar-inverse {
  border-color: transparent;
  background-color: transparent;
}

.navbar {
  border: 1px solid transparent;
  transition: background-color 300ms linear;
}

a {
  cursor: pointer;
}

/* Right side of navbar */
.navbar-inverse .navbar-nav>li>a {
  color: #c9d4df;
  font-size: 17px;
  font-weight: bold;
}

/* Left side of navbar style */ 
.navbar-brand {
  font-weight: bolder;
  color: #c9d4df;
  font-size: 23px;
}

/* Change border color on bootstrap hamburger on small screen */
.navbar-inverse .navbar-toggle {
   border-color: #c9d4df; 
}

/* Change color on hover on bootstrap hamburger in small screen */ 
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2BD9EA; 
}

