<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 1">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">SportConnectors</a>
    </div>
  </div>
</nav>
<div style="height: 51px;"></div>

<div class="custom-container forPlayerClubBackgroundColor" style="height:96vh; text-align: center;" >
  <h1>Reset Password</h1>
  <div style="color:red; font-size:20px;" *ngIf="invalidTokenFromServer">There was an error resetting your password <br>
    This might be because you already used this link to reset your password <br> Try to get a new email with a new password reset link</div>
    <div id="newPasswordStyle" *ngIf="!passwordResetCompleted">
      <div style="color:red; font-size:20px;" *ngIf="passwordsDontMatch">Passwords must match!</div>
      <div style="color:red; font-size:20px;" *ngIf="passwordResetErrorFromServer">There was an error trying to reset your password. Try again</div>
      <form name="form" (ngSubmit)="f.form.valid && resetCurrentPassword(f)" #f="ngForm" novalidate>
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-lock"></i>
          <input name="newPassword" type="password" ngModel name="newPassword" #newPassword="ngModel" minlength="6"
            [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }"  placeholder="Enter New Password" required password />
        </div>
        <div style="text-align: center; color:red; height:20px;">
          <div *ngIf="f.submitted && newPassword.invalid">
            <div *ngIf="newPassword.errors.required">Password is required</div>
            <div *ngIf="newPassword.errors.minlength">Password must be 6 characters or longer</div>
          </div>
        </div>
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-lock"></i>
          <input name="confirmPassword" type="password" ngModel name="confirmPassword" #confirmPassword="ngModel" minlength="6"
            [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }"  placeholder="Confirm New Password" required password />
        </div>
        <div style="text-align: center; color:red; height:20px;">
          <div *ngIf="f.submitted && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors.required">Password is required</div>
            <div *ngIf="confirmPassword.errors.minlength">Password must be 6 characters or longer</div>
          </div>
        </div>
        
      <input type="submit" value="Reset your password" class="resetPassword" />
      </form>
  </div>
  <div id="passwordCompletedStyle" *ngIf="passwordResetCompleted">
     <h2>Your password has successfully been changed!</h2>
     <h3>Click here to go back to frontpage</h3>
     <button class="resetPassword" (click)="goToFrontpage()">Go to frontpage</button>
  </div>
 
</div>

<div style="height: 15px;"></div>
