<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 1">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">SportConnectors</a>
    </div>
  </div>
</nav>
<div style="height: 51px;"></div>

<section class="custom-container forPlayerClubBackgroundColor" style="height:96vh">
  <h1 align="center">Reset Password</h1>

  <div class="col-md-4"></div>
  <div class="col-md-4" style="margin-top: 70px;">
    <table>
      <tr>
        <td style="text-align: right;">Write a new password:</td>
        <td><textarea></textarea></td>
      </tr>
      <tr>
        <td>Write the new password again:</td>
        <td><textarea></textarea></td>
      </tr>
    </table>
    <!-- <label>Write a new password:</label>
    <textarea></textarea>

    <label>Write new password again:</label>
    <textarea></textarea>
    <br> -->
    <div class="wrapper">
      <button>Confirm reset</button>
    </div>
  </div>
 
  <div class="col-md-4"></div>
</section>

<div style="height: 15px;"></div>
