nav {
    background-color: #2A344F;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bolder;
    color: #c9d4df;
    font-size: 23px;
    font-family: 'Fresno';
    font-style: italic;
}

/* Wrapper for confirm button to align center */
.wrapper {
    text-align: center;
    margin-top: 100px
}

.button {
    position: absolute;
    top: 50%; 
}
