nav {
    background-color: #2A344F;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bolder;
    color: #c9d4df;
    font-size: 23px;
    font-family: 'Fresno';
    font-style: italic;
}

#newPasswordStyle {
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto;
    width:300px; 
    text-align: center;
}

#passwordCompletedStyle {
    margin-top: 30px;
    text-align: center;
}

form {
    margin: 0 5px;
  }

  /* Input fields in login and recover password modal box*/
 input[type=password] {
    font-family: 'roboto';
    font-size: 16px;
    color: #4c4c4c;
    width: 280px;
    height: 39px;
    border-radius: 7px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-top: 13px;
  }
  
  /*Set red border on invalid input*/
  .ng-invalid .is-invalid {
      border:2px solid #f00;
  }
  
  /*Icon design for login modal and recover password*/
  .inner-addon { 
    position: relative; 
  }
  
  /* style icon */
  .inner-addon .glyphicon {
  position: absolute;
  margin: 20px 0px 20px 20px;
  line-height: none;
  pointer-events: none;
  font-size: 20px;
  color: #8C8984;
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  40px; }

  
  .resetPassword {
    margin: 15px auto 15px auto;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 25px 20px;
    display: block;
    text-decoration: none;
    width: 200px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(78, 88, 114);
    -webkit-box-shadow: 3px #a9a9a9;
    -moz-box-shadow: 3px #a9a9a9;
    box-shadow: 3px #a9a9a9;
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;
  }
  
    .resetPassword:hover {
      top: 0.5px;
      background-color: rgb(111, 124, 156);
  
    }
