.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-inverse {
    border-color: transparent;
    background-color: transparent;
}

.navbar {
    border: 1px solid transparent;
}

.modal-open {
    overflow: scroll;
}

#frontPageImage {
    background-image: url('../Images/handball.jpg');
    background-size: cover;
    height: 700px;
}

body {
    overflow: inherit;
    padding-right: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal-backdrop {
    opacity: 0.79 !important;
    background-color: white;
}

.modal-open {
    overflow: scroll;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    margin-right: 0px; /* this is the exact culprit */
    margin-left: 0px;
}

/*FAQ DESIGN*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ccc;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*FOOTER DESIGN*/
footer {
    background-color: #252525;
}


/*Design for headlines*/
.sideFooter, .centerFooter {
    list-style: none;
    padding: 30px 0px;
}

    .sideFooter h3, .centerFooter h3 {
        color: #FFF;
        font-weight: 800;
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 3px;
    }


    .sideFooter li {
        margin: 10px 0px;
    }

        .sideFooter li a, .sideFooter li p, .centerFooter div p {
            color: #FFF;
            text-decoration: none;
            font-size: 16px;
        }

    /*Design for Icons*/
    .centerFooter i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        line-height: 42px;
        margin: 10px 15px;
    }
        /*Design for Email Icon*/
        .centerFooter i.fa-envelope {
            font-size: 17px;
            line-height: 38px;
        }

    .centerFooter p {
        display: inline-block;
    }

        /*Makes Email link inherit color*/
        .centerFooter p a {
            color: inherit;
        }

.responsiveImage {
    max-width: 100%;
    height: auto;
}

/* login */
body,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}

#playerLoginBox p, #clubLoginBox p {
    font-size: 12px;
    width: 150px;
    display: inline-block;
    margin-left: 18px;
}

#playerLoginBox h1, #clubLoginBox h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

html {
    background-color: #ffffff;
}

.box {
    margin: 130px auto;
    width: 343px;
    height: 464px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}

.signupbox {
    margin: 40px auto;
    width: 343px;
    height: 700px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}

input[type=radio] {
    visibility: hidden;
}

form {
    margin: 0 30px;
}

input[type=text], [type=email], [type=tel], input[type=password] {
    width: 200px;
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 10px;
}

input[type=password] {
    margin-bottom: 25px;
}

#icon {
    display: inline-block;
    width: 45px;
    background-color: #000000;
    padding: 8px 0px 8px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 0px #cbc9c9;
}

.button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 25px 20px;
    margin: 25px 8px 20px 0px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: 90px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000000;
    -webkit-box-shadow: 0 3px #a9a9a9;
    -moz-box-shadow: 0 3px #a9a9a9;
    box-shadow: 0 3px #a9a9a9;
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
}

    .button:hover {
        top: 3px;
        background-color: #a9a9a9;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.loginbutton {
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 25px 25px 20px;
    margin: 10px 24px 20px 0px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: 243px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000000;
    -webkit-box-shadow: 0 3px #a9a9a9;
    -moz-box-shadow: 0 3px #a9a9a9;
    box-shadow: 0 3px #a9a9a9;
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
}

    .loginbutton:hover {
        top: 3px;
        background-color: #a9a9a9;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

#frontPageText h1 {
    text-align: center;
    margin-top: 200px;
    color: white;
    font-weight: bold;
   
}

#frontPageText h2 {
    text-align: center;
    color: white;
    font-weight: bold;
}

.frontPageButton {
    margin-bottom: 20px;
    width: 80%;
    background-color: #44c767;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 3px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 17px;
    padding: 17px 46px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 3px #2f6627;
}

    .frontPageButton:hover {
        background-color: #5cbf2a;
    }

    .frontPageButton:active {
        position: relative;
        top: 1px;
    }

#playerLogin img, #clubLogin img, #playerRegister img, #clubRegister img {
    width: 200px;
    height: auto;
}

#chooseLogin, #chooseRegister {
    margin-top: 200px;
}

#forPlayers, #forClubs, #aboutUs {
    height: 50px;
}

.informationText {
    word-wrap: break-word;
}

    .informationText p {
        padding-right: 60px;
    }