@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  overflow: inherit;
  padding-right: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-right: 0px; /* this is the exact culprit */
  margin-left: 0px;
}

#forPlayers, #forClubs, #aboutUs {
  height: 50px;
}

.informationText {
  word-wrap: break-word;
}

  .informationText p {
    padding-right: 60px;
  }

/*FAQ DESIGN*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.tableFixed {
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
}

  .tableFixed tr td, .tableFixed tr th {
    padding-top: 15.231px;
  }


#trainingTable table tr th {
  word-wrap: break-word;
}

#trainingTable table tr td {
  word-wrap: break-word;
}

.table > tbody > tr > td {
  border-top: 0px;
}

.table > thead > tr > th {
  border-bottom: 0px;
}

.carousel {
  width: 70%;
}

.item img {
  object-fit: cover;
  height: 250px !important;
  width: 100% !important;
}
