<!-- FRONT PAGE -->
<section id="frontPageImage" class="container-fluid">

  <div id="frontPageText" [hidden]="!isVisible">
    <h1>Sportconnectors</h1>
    <h2>Todolist: <br /> Forside billede, <br /> About us section design, <br /> professionelle farvetemaer på hele
      siden, <br /> footer links</h2>

  </div>

  <div id="buttonDiv" class="row" style="margin-top: 100px" [hidden]="!isVisible">
    <div style="text-align: center" class="col-sm-3"></div>
    <div style="text-align: center" class="col-sm-3">
      <a class="frontPageButton "  (click)="openModal(chooseRegistrationModal)">Register</a>
    </div>
    <div style="text-align: center" class="col-sm-3">
      <a class="frontPageButton" (click)="openModal(chooseLoginModal)">Login</a>

    </div>
    <div style="text-align: center" class="col-sm-3"></div>
  </div>


  <!-- LOGIN MODAL -->
  <ng-template #chooseLoginModal>
        <h2 style="text-align: center;">Choose Login</h2>
        <div class="row">
          <div class="col-md-6" style="text-align: center;">
            <a  id="playerLogin"   (click)="openSecondModalNested(playerLoginModal)"><img src="assets/Images/player-icon.png" /></a>
            <h3>Player</h3>
          </div>
          <div class="col-md-6" style="text-align: center;">
            <a id="clubLogin"  (click)="openSecondModalNested(clubLoginModal)"><img src="assets/Images/club-icon.png" /></a>
            <h3>Club</h3>
          </div>
        </div>
  </ng-template>


  <!-- PLAYER LOGIN -->
  <ng-template #playerLoginModal>
    <div id="playerLoginBox" class="box" >
      <h1>Player Login</h1>
      <form name="PlayerLogin" method="post" action="">
        <label id="icon" for="name"><i class="glyphicon glyphicon-envelope"></i></label>
        <input autocomplete="off" name="email" pattern="[a-zA-ZæøåÆØÅ0-9._%+-]+[a-zA-ZæøåÆØÅ0-9.-]+\.[a-z]{2,}$"
          type="email" id="name" placeholder="E-mail" required
          oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
        <label id="icon" for="name"><i class="glyphicon glyphicon-lock"></i></label>
        <input autocomplete="off" name="password" type="password"
          pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-ZÆØÅ])(?=.*[a-zæøå]).*$" id="name"
          placeholder="Password" required
          oninvalid="this.setCustomValidity('Indtast minimum 8 tegn med tal, store og små bogstaver.')"
          oninput="setCustomValidity('')" />
        <input type="submit" value="Login" class="loginbutton" />
        <h2>Login with facebook</h2>
        <a href="">Forgot password?</a>
      </form>
    </div>
  </ng-template>


  <!-- CLUB LOGIN -->
  <ng-template #clubLoginModal>
  <div id="clubLoginBox" class="box" >
    <h1>Club Login</h1>
    <form name="ClubLogin" method="post" action="">
      <label id="icon" for="name"><i class="glyphicon glyphicon-envelope"></i></label>
      <input autocomplete="off" name="email" pattern="[a-zA-ZæøåÆØÅ0-9._%+-]+[a-zA-ZæøåÆØÅ0-9.-]+\.[a-z]{2,}$"
        type="email" id="name" placeholder="E-mail" required
        oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
      <label id="icon" for="name"><i class="glyphicon glyphicon-lock"></i></label>
      <input autocomplete="off" name="password" type="password"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-ZÆØÅ])(?=.*[a-zæøå]).*$" id="name"
        placeholder="Password" required
        oninvalid="this.setCustomValidity('Indtast minimum 8 tegn med tal, store og små bogstaver.')"
        oninput="setCustomValidity('')" />
      <input type="submit" value="Login" class="loginbutton" />
      <a href="">Forgot password?</a>
    </form>
  </div>
  </ng-template>


  <!-- REGISTER MODAL -->
  <ng-template #chooseRegistrationModal>
        <h2 style="text-align: center;">Choose Registration</h2>
        <div class="row">
          <div class="col-md-6" style="text-align: center;">
            <a id="playerRegistration" (click)="openPlayerRegistrationModal(registerPlayer)"><img src="assets/Images/player-icon.png" /></a>
            <h3>Player</h3>
          </div>
          <div class="col-md-6" style="text-align: center;">
            <a id="clubRegistration" href="#"><img src="assets/Images/club-icon.png" /></a>
            <h3>Club</h3>
          </div>
        </div>
  </ng-template>
</section>

<!-- REGISTER PLAYER -->
<ng-template #registerPlayer style="align-content:center;">
  <app-register-player></app-register-player>
</ng-template>