<!-- FRONT PAGE -->
<section id="frontPageImage" class="container-fluid">
  <div id="divOverFrontImage" class="row" id="marginTopFrontpage" >

    <div style="text-align: center" class="col-lg-6 col-md-7 col-sm-8">
      <h1 class="colorLightGrey" id="frontPageHeadline">Sportconnectors</h1>
      <h2 class=colorLightGrey id="frontPageSlogan"> Find på et fedt slogan som kan stå på denne fine
        linje så kunderne kan læse et mega fedt slogan på denne linje</h2>
      <div class="row" style="margin-top: 60px;">
        <div class="col-sm-6 col-md-6">
          <a class="frontPageButton" (click)="openModalLogin(loginmodal)">Login</a>
        </div>
        <div class="col-sm-6 col-md-6">
          <a class="frontPageButton " (click)="openModalRegister(chooseRegistrationModal)">Register</a>
        </div>
      </div>
    </div>
    <div style="text-align: center" class="col-lg-6 col-md-5 col-sm-4">
    </div>
  </div>

  <!-- LOGIN -->
  <ng-template #loginmodal>
    <div id="loginBox" class="box">

        <!-- Loading spinner component -->
        <app-loading-icon [isLoading]="isLoading"></app-loading-icon>

      <button type="button" class="close" aria-label="Close" (click)="loginModal?.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 >Login</h1>
      <div style="color:red; font-size:20px;" *ngIf="wrongEmailOrPassword">Wrong email or password</div>
      <form name="form" (ngSubmit)="f.form.valid && loginUser(f)" #f="ngForm" novalidate>
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-envelope"></i>
          <input type="email" name="email" placeholder="Enter your email" ngModel name="email" #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
        </div>
        <div style="text-align: center; color:red; height:20px;">
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email?.errors.required">Email is required</div>
            <div *ngIf="email?.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-lock"></i>
          <input name="password" type="password" ngModel name="password" #password="ngModel" minlength="6"
            [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"  placeholder="Password" required password />
        </div>
        <div style="text-align: center; color:red; height:20px;">
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password?.errors.required">Password is required</div>
            <div *ngIf="password?.errors.minlength">Password must be 6 characters or longer</div>
          </div>
        </div>
        <input type="submit" value="Login" class="loginbutton" />
      </form>
      <div style="text-align: center;">
        <a (click)="openRecoverPasswordModal(recoverPasswordModal)">Forgot password?</a>
        <a style="padding-left: 20px; margin-top: 25px;" href="#" title="Facebook" class="btn-facebook btn"><i
            style="margin-left:-5px; margin-right: 20px;" class="fa fa-facebook "></i>Connect with Facebook</a>
      </div>
    </div>
  </ng-template>

  <!-- RECOVER PASSWORD MODAL -->
  <ng-template #recoverPasswordModal>
    <div id="recoverBox" class="box">
        <button type="button" class="close" aria-label="Close" (click)="modalRefRecoverPassword.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
      <h1 style="margin-top:30px; padding-left:0px;">Recover Password</h1>
      <form name="form" (ngSubmit)="f.form.valid && recoverPasswordClicked(f)" #f="ngForm" novalidate>
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-envelope"></i>
          <input type="text" name="email" placeholder="Enter your email" ngModel name="email" #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
        </div>
        <div style="text-align: center; color:red; height:20px;">
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email?.errors.required">Email is required</div>
            <div *ngIf="email?.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <input type="submit" value="Reset Password" class="loginbutton" />
      </form>
      <h5 style="margin-top: 30px;"> {{recoverPasswordResult}} </h5>
    </div>
  </ng-template>

  <!-- REGISTER MODAL -->
  <ng-template #chooseRegistrationModal>
        <h2 style="text-align: center;">Choose Registration</h2>
        <div class="row">
          <div class="col-md-6" style="text-align: center;">
            <a id="playerRegistration" (click)="openPlayerRegistrationModal(registerPlayer)"><img src="assets/Images/player-icon.png" /></a>
            <h3>Player</h3>
          </div>
          <div class="col-md-6" style="text-align: center;">
            <a id="clubRegistration" (click)="openClubRegistrationModal(registerClub)"><img src="assets/Images/club-icon.png" /></a>
            <h3>Club</h3>
          </div>
        </div>
  </ng-template>
</section>

<!-- REGISTER PLAYER -->
<ng-template #registerPlayer>
  <app-register-player [modalRef]="playerRegistrationModal"></app-register-player>
</ng-template>

<!-- REGISTER CLUB -->
<ng-template #registerClub>
  <app-register-club [modalRef]="clubRegistrationModal"></app-register-club>
</ng-template>