<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<section class="custom-container forPlayerClubBackgroundColor">
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-2" style="text-align: center; margin-top: 15px;">
        <a class="editProfileButton">Edit Profile</a>
    </div>
    <div class="col-md-10"></div>
  </div>

  <div class="row">
    <div class="col-md-2" style="text-align:center; margin-bottom:50px;">
      <img class="responsiveImage" src="../../assets/Images/club-icon.png" height="150" width="150" />
      <h3 style="word-wrap: break-word;">TTH Holstebro</h3>

      <h4>Description</h4>

    </div>
    <div class="col-md-4">
      <div style="width: 100%;">
        <h2 style="text-align: center; font-family: 'Fresno'">Squad</h2>
        <table class="tableFixed" style="text-align: left">
          <thead>
            <tr>
              <th style="width: 10%;">#</th>
              <th style="width: 60%;">Name</th>
              <th style="width: 30%;">Position(s)</th>
            </tr>
            
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Niklas Landin Jacobsen</td>
              <td>Goalkeeper</td>
             </tr>
            <tr>
               <td>24</td>
               <td>Mikkel Hansen</td>
               <td>Left Back</td>
              </tr>
            <tr>
               <td>25</td>
               <td>Daniel Narcisse</td>
               <td>Center Back</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Nedim Remili</td>
                <td>Right Back</td>
             </tr>
             <tr>
                <td>7</td>
                <td>Rene Toft Hansen</td>
                <td>Pivot</td>
             </tr>
             <tr>
                <td>22</td>
                <td>Guðjón Valur Sigurðsson</td>
                <td>Left Wing</td>
             </tr>
             <tr>
                <td>19</td>
                <td>Luc Abalo</td>
                <td>Right Wing</td>
             </tr>
          </tbody>
        </table>
        <!-- <img class="responsiveImage" src="../../assets/Images/player-icon.png" /> -->
      </div>
      <div style="width: 100%; height: 300px;">
        <h3 style="text-align:center; font-family: 'Fresno'">Technical staff</h3>
        <table class="tableFixed">
          <tr>
            <td>Trainer:</td>
            <td>Morten Olsen</td>
          </tr>
          <tr>
            <td>Assistant Trainer:</td>
            <td>Sunday Lemi</td>
          </tr>
          <tr>
            <td>Physiotherapist:</td>
            <td>Morten Albert</td>
          </tr>
          <tr>
            <td>Doctor:</td>
            <td>rBaun</td>
          </tr>
          <tr>
            <td>Team Manager:</td>
            <td>Martin Lund æ gren </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 100%;">
        <h2 style="text-align: center; font-family: 'Fresno'">Training</h2>
        <div id="trainingTable" class="table-responsive">
          <div style="margin-top: 9.5px"></div>
          <table class="table Schedule">
            <thead>
              <tr style="word-wrap:break-word;">
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Handball</td>
                <td>17-19</td>
                <td>Rest</td>
                <td>18-20</td>
                <td>Rest</td>
                <td>11-13</td>
                <td>Rest</td>
                <td>Rest</td>
              </tr>
              <tr>
                <td>Fitness training</td>
                <td>16-17</td>
                <td>Rest</td>
                <td>Rest</td>
                <td>17-19</td>
                <td>Rest</td>
                <td>18-20</td>
                <td>Rest</td>
              </tr>
            </tbody>

          </table>
          <div style="margin-top: 9px"></div>
        
        </div>

          <carousel [interval]="myInterval" >
           <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
           </slide>
          </carousel>

        </div>

        <div style="width: 100%; height: 300px">
          <h2 style="text-align:center; font-family: 'Fresno'">Values and preferences</h2>
  
          <table class="tableValAndPrefs">
            <tr>
              <td>Trainer:</td>
              <td>Morten Olsen</td>
            </tr>
            <tr>
              <td>Assistant Trainer:</td>
              <td>Sunday Lemi</td>
            </tr>
            <tr>
              <td>Physiotherapist:</td>
              <td>Morten Albert</td>
            </tr>
            <tr>
              <td>Doctor:</td>
              <td>rBaun</td>
            </tr>
            <tr>
              <td>Team Manager:</td>
              <td>Martin Lund æ gren </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
</section>
<div style="height: 15px;"></div>
