<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<section class="custom-container forPlayerClubBackgroundColor">
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-2" style="text-align: center; margin-top: 15px;">
        <a class="editProfileButton">Edit Profile</a>
    </div>
    <div class="col-md-10"></div>
  </div>

  <div class="row">
    <div class="col-md-2" style="text-align:center; margin-bottom:50px;">
      <img class="responsiveImage" src="../../assets/Images/club-icon.png" height="150" width="150" />
      <h3 style="word-wrap: break-word;">{{clubBinding.name}}</h3> 

      <h4>{{clubBinding.country}}</h4>
      <h4>{{clubBinding.league}}</h4>
      <h4>{{clubBinding.zipcode}} {{clubBinding.city}}</h4>
      <h4>{{clubBinding.streetAddress}} {{clubBinding.streetNumber}}</h4> 

    </div>
    <div class="col-md-4">
      <div style="width: 100%;">
        <h2 style="text-align: center; font-family: 'Fresno'">Squad</h2>
        <mat-tab-group class="custom-tabs" mat-align-tabs="center">
          <mat-tab label="Current Year" > 
              <div>
                  <img class="responsiveImage" src="../../assets/Images/squadImage.png"/>
                  <div class="squad goalKeeper">#1 Niklas Landin Jakobsen <br> #3 Jannick Green</div>
                  <div class="squad left-back">#24 Mikkel Hansen <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad center-back">#25 Daniel Narcisse <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad right-back">#5 Nedim Remili <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad pivot">#7 Rene Toft Hansen <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad left-wing">#22 Guðjón Valur Sigurðsson <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad right-wing">#19 Luc Abolo <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad defence">#34 Magnus Mortensen <br> #5 Anders Tranbjerg</div>
                </div>
          </mat-tab>
          <mat-tab label="Next Year"> 
              <div>
                  <img class="responsiveImage" src="../../assets/Images/squadImage.png"/>
                  <div class="squad goalKeeper">#1 Niklas Landin Jakobsen <br> #3 Jannick Green</div>
                  <div class="squad left-back">#24 Mikkel Hansen <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad center-back">#25 Daniel Narcisse <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad right-back">#5 Nedim Remili <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad pivot">#7 Rene Toft Hansen <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad left-wing">#22 Guðjón Valur Sigurðsson <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad right-wing">#19 Luc Abolo <br> #6 Johan Olsen <br> #2 Jakob Jakobsen</div>
                  <div class="squad defence">#34 Magnus Mortensen <br> #5 Anders Tranbjerg</div>
                </div>
          </mat-tab>
        </mat-tab-group>
        
      </div>
      <div style="width: 100%; height: 300px;">
        <h2 style="text-align:center; font-family: 'Fresno'">Technical staff</h2>
        <table class="tableFixed">
          <tr>
            <td>Trainer:</td>
            <td>{{clubBinding.trainer}}</td>
          </tr>
          <tr>
            <td>Assistant Trainer:</td>
            <td>{{clubBinding.assistantTrainer}}</td>
          </tr>
          <tr>
            <td>Physiotherapist:</td>
            <td>{{clubBinding.physiotherapist }}</td>
          </tr>
          <tr>
            <td>Assistant Physiotherapist:</td>
            <td>{{clubBinding.assistantPhysiotherapist}}</td>
          </tr>
          <tr>
            <td>Team Manager:</td>
            <td>{{clubBinding.manager}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 100%;">
        <h2 style="text-align: center; font-family: 'Fresno'">Training</h2>
        <div id="trainingTable" class="table-responsive">
          <div style="margin-top: 9.5px"></div>
          <h3 style="text-align: center; font-family: 'Fresno'; margin-bottom: 25px" *ngIf="clubBinding.trainingHoursList.length == 0"> No training was specified from the club</h3>
          <table class="table Schedule" *ngIf="clubBinding.trainingHoursList.length > 0">
            <thead>
              <tr style="word-wrap:break-word;">
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody *ngFor="let training of clubBinding.trainingHoursList">
                 <tr *ngIf="training.name == 'Handball'">
                    <td>Handball training</td>
                    <td>{{training.mon}}</td>
                    <td>{{training.tue}}</td>
                    <td>{{training.wed}}</td>
                    <td>{{training.thu}}</td>
                    <td>{{training.fri}}</td>
                    <td>{{training.sat}}</td>
                    <td>{{training.sun}}</td>
                 </tr>
                <tr *ngIf="training.name == 'Fitness training'">
                    <td>Fitness training</td>
                    <td>{{training.mon}}</td>
                    <td>{{training.tue}}</td>
                    <td>{{training.wed}}</td>
                    <td>{{training.thu}}</td>
                    <td>{{training.fri}}</td>
                    <td>{{training.sat}}</td>
                    <td>{{training.sun}}</td>
                </tr>
            </tbody>
          </table>
          <div style="margin-top: 9px"></div>
        
        </div>

          <carousel [interval]="myInterval" >
           <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
           </slide>
          </carousel>
        </div>

        <div style="width: 100%; height: 300px; text-align: center; align-content: center">
          <h2 style="font-family: 'Fresno'">Open positions in club</h2>
          <p *ngIf="clubBinding.openPositionsList.length == 0">No open positions specified</p>
          <div *ngFor="let positions of clubBinding.openPositionsList">
              <div style="width:100%;  margin-bottom: 10px;">{{positions}}</div>
          </div>
          <div class="row" style="margin-top:10px; text-align: center">
            <h2 style="font-family: 'Fresno'">Values & Preferences</h2>
            <!-- <h5>{{clubBinding.valueDescription}} {{clubBinding.preferenceDescription}}</h5> -->
            <div style="margin-left: 10%; margin-right: 10%;">
              <h5>TTH Holstebro strive to develop and improve players from a young age,
                in order for them to be prepared for when the time comes to play on A-teams, and in big leagues all around the world.<br>
                We believe we have the right team, tools and facilities for our players to flourish.</h5>
            </div>
           
            <div class="col-md-6">
                <h4>Values</h4>
                <p *ngIf="clubBinding.valuesList.length == 0">Not specified</p>
                <div *ngFor="let values of clubBinding.valuesList">
                    <p>{{values}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Preferences</h4>
                <p *ngIf="clubBinding.preferenceList.length == 0">Not specified</p>
                <div *ngFor="let pref of clubBinding.preferenceList">
                    <p >{{pref}}</p>
                </div>
            </div>
          </div>
          
       

        </div>
      </div>
    </div>
    <app-contact-adviser></app-contact-adviser>
</section>
<div style="height: 15px;"></div>
