/* Button used to open the chat form - fixed at the bottom of the page */
.openContactAdvisorBtn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
@media (max-width: 415px) {
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 50%; 
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 100%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 50%;
    }
}


@media only screen 
and (min-device-width : 1024px) 
and (orientation : portrait) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 50%;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 100%;
    }
}

@media only screen 
and (min-device-width : 1366px) 
and (orientation : landscape) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 80%;
    }
}

.squad {
    position: absolute;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    width: 30%;
    text-align: center;
}

.goalKeeper {
    top: 15%;
    left: 50%;
}

.left-back {
    top: 60%;
    left: 15%;  
}

.center-back {
    top: 80%;
    left: 50%;
}

.right-back {
    top: 60%;
    right: -15%;   
}

.pivot {
    top: 48%;
    left: 50%; 
}

.left-wing {
    top: 25%;
    left: 15%; 
}

.right-wing {
    top: 25%;
    right: -15%;
}

.defence {
    top: 95%;
    right: -15%;
}


.custom-tabs .mat-tab-label .mat-tab-label-content {
    /* text */
}

.custom-tabs .mat-tab-label-active {
    background-color: #d7d9db;
}




