@media (max-width: 415px) {
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 50%; 
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 100%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 50%;
    }
}


@media only screen 
and (min-device-width : 1024px) 
and (orientation : portrait) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 50%;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 100%;
    }
}

@media only screen 
and (min-device-width : 1366px) 
and (orientation : landscape) { 
    .goalKeeper, .left-back, .center-back, .right-back, .pivot, .left-wing, .right-wing, .defence {
        font-size: 80%;
    }
}

.squad {
    position: absolute;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    width: 30%;
    text-align: center;
}

.goalKeeper {
    top: 15%;
    left: 50%;
}

.left-back {
    top: 60%;
    left: 15%;  
}

.center-back {
    top: 80%;
    left: 50%;
}

.right-back {
    top: 60%;
    right: -15%;   
}

.pivot {
    top: 48%;
    left: 50%; 
}

.left-wing {
    top: 25%;
    left: 15%; 
}

.right-wing {
    top: 25%;
    right: -15%;
}

.defence {
    top: 95%;
    right: -15%;
}


.custom-tabs .mat-tab-label .mat-tab-label-content {
    /* text */
}

.custom-tabs .mat-tab-label-active {
    background-color: #d7d9db;
}




