<!-- FOR PLAYERS -->
<app-header></app-header>
<section class="well custom-container forPlayerClubBackgroundColor" >
  <h1 class="colorDarkBlue" style="text-align:center; font-family: 'Fresno';">For Players</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="informationText">
        <h2 class="colorDarkBlue" style="font-family: 'Fresno';">Information</h2>
        <p>
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
          lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="colorDarkBlue" style="font-family: 'Fresno';">How to use</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class= col-md-2></div>
    <div class="col-md-8">
      <h2 class="colorDarkBlue" style="text-align:center; font-family: 'Fresno';">Player FAQ</h2>
      <div style="margin-top:10px;">
        <accordion>
          <accordion-group>
            <h5 accordion-heading>Question 1 </h5>
            <p>Lorem ipsum...</p>
          </accordion-group>
          <accordion-group>
            <h5 accordion-heading>Question 2 </h5>
            <p>Lorem ipsum...</p>
          </accordion-group>
          <accordion-group>
            <h5 accordion-heading>Question 3 </h5>
            <p>Lorem ipsum... </p>
          </accordion-group>
          <accordion-group>
            <h5 accordion-heading>Question 4</h5>
            <p>Lorem ipsum... </p>
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div class=col-md-2></div>
  </div>

  
</section>
