
<footer style="font-family: Roboto">
  <div class="container">
    <div class="row ">
      <div class="col-md-4">
        <ul class="sideFooter">
          <li><h3>Menu</h3></li>
          <li><a (click)="openPolicyModalRef(policy)" style="cursor: pointer;">Privacy Policy</a></li>
          <li><p>&copy; {{ currentYear }} - SportConnectors</p></li>
        </ul>
      </div>

      <ng-template #policy>
        <div class="privacyPolicyDesign">
          <button type="button" class="close" aria-label="Close" (click)="privacyPolicyModal?.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
          <h3>Privacy Policy SportConnectors</h3>
          <hr style="margin-bottom: -5px; size: 5px;">
          <app-privacy-policy></app-privacy-policy>
        </div>
      </ng-template>

      <div class="col-md-4">
        <div class="centerFooter">
          <h3>Contact</h3>
          <div>
            <i class="fa fa-map-marker text-center"></i>
            <p>Fyensgade 2 <br /> Aalborg, Danmark</p>
          </div>
          <!-- <div>
            <i class="fa fa-phone text-center"></i>
            <p>+45 12345678</p>
          </div> -->
          <div>
            <i class="fa fa-envelope text-center"></i>
            <p><a href="mailto:Agent4advisory@gmail.com">Agent4advisory@gmail.com</a></p>
          </div>
        </div>
      </div>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="col-md-4">
        <ul class="sideFooter">
          <li><h3>Follow us</h3></li>
          <li><a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
          <li><a href="https://twitter.com" target="_blank" rel="noopener"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
          <li><a href="https://www.instagram.com" target="_blank" rel="noopener"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
