
<!-- Upload profile button -->
<input type="file" accept="image/*" #profile (change)="upload(profile.files, 'profile')" style="display:none;">
<button type="button" class="btn btn-success" (click)="profile.click()">Upload Image</button>

<!-- Upload facility image button -->
<div style="text-align: center">
  <input type="file" accept="image/*" #slideImage (change)="upload(slideImage.files, 'facility')" style="display:none;">
  <button type="button" class="btn btn-success" (click)="slideImage.click()">Upload image</button>
</div>

<!-- Delete Current year squadPlayer button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteSquadPlayer('Current Year')">

<!-- Delete Next year squadPlayer button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteSquadPlayer('Next Year')">

<!-- Delete TrainingHours button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteTrainingHours()">

<!-- Delete Club value button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteClubValue()">

<!-- Delete Club preference button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteClubPreference()">

<!-- Delete Job position button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteJobPosition()">

<!-- Delete Job position strength button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteJobPositionStrength()">

<!-- Update button -->
<input type="button" class="btn btn-success" value="Update" (click) ="updateClub()">
