<app-header></app-header>

<div class="well custom-container forPlayerClubBackgroundColor">
  <!-- Update button -->
  <input type="button" class="btn btn-success" value="Update" (click)="updateClub()">

  <mat-accordion class="example-headers-align">
    <!-- Club Info -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>Club Info</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Current Password" [formControl]="currentPassword" type="password"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="currentPassword?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="currentPassword?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="New Password" [formControl]="password" type="password"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="password?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="password?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <!-- NEED AN UPDATE PASSWORD BUTTON -->
      <button mat-button color="primary">Update Password</button>
      <br>
      <mat-form-field>
        <input matInput placeholder="Club Name" [value]="clubBinding.name" [formControl]="name"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="name?.hasError('required')">
          Club name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="League" [value]="clubBinding.league" [formControl]="league"
          [errorStateMatcher]="validate">
          <mat-option *ngFor="let league of leagueList" [value]="league.valueOf()">{{league}}</mat-option>
        </mat-select>
        <mat-error *ngIf="league?.hasError('required')">
          League is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street Address" [value]="clubBinding.streetAddress" [formControl]="streetAddress"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetAddress?.hasError('required')">
          Street Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street Number" [value]="clubBinding.streetNumber" [formControl]="streetNumber"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetNumber?.hasError('pattern') && !streetNumber.hasError('required')">
          Street number must be a number
        </mat-error>
        <mat-error *ngIf="streetNumber?.hasError('required')">
          Street number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select matInput placeholder="Country" [value]="clubBinding.country" [formControl]="country"
          [errorStateMatcher]="validate">
          <mat-option *ngFor="let country of countryList" [value]="country.valueOf()">{{country}}</mat-option>
        </mat-select>
        <mat-error *ngIf="country?.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="City" [value]="clubBinding.city" [formControl]="city"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="city?.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Zipcode" [value]="clubBinding.zipcode" [formControl]="zipcode"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="zipcode.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Regular Training Schedule -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>Regular Training Schedule</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-label>Monday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Tuesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Wednesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Thursday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Friday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Saturday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Sunday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Delete TrainingHours button -->
      <input type="button" class="btn btn-success" value="Delete Schedule" (click)="deleteTrainingHours()">

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>Fitness Training Schedule</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-label>Monday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Tuesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Wednesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Thursday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Friday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Saturday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Sunday</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="From">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="To">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Delete TrainingHours button -->
      <input type="button" class="btn btn-success" value="Delete Schedule" (click)="deleteTrainingHours()">
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Current Season Squad -->
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>Current Season Squad</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Delete Current year squadPlayer button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteSquadPlayer('Current Year')">

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Next Season Squad -->
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>Next Season Squad</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Delete Next year squadPlayer button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteSquadPlayer('Next Year')">

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Open Positions -->
    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
      <mat-expansion-panel-header>
        <mat-panel-title>Open Positions</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Delete Job position button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteJobPosition()">

      <!-- Delete Job position strength button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteJobPositionStrength()">

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Staff -->
    <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)">
      <mat-expansion-panel-header>
        <mat-panel-title>Staff</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Values and Preferences -->
    <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)">
      <mat-expansion-panel-header>
        <mat-panel-title>Values and Preferences</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Delete Club value button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteClubValue()">

      <!-- Delete Club preference button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteClubPreference()">



      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Pictures -->
    <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)">
      <mat-expansion-panel-header>
        <mat-panel-title>Pictures</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-md-6" style="text-align: center;">
          
          <h3>Profile picture</h3>
          <div>
            <img class="responsiveImage" src="{{clubBinding.imagePath}}" height="150" width="150" />
          </div>
          <input type="file" accept="image/*" #profile (change)="upload(profile.files, 'profile')" style="display:none;">
          <button type="button" class="btn btn-success" (click)="profile.click()">Upload Image</button>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <h3>Facility pictures</h3>
          <div>
            <carousel [interval]="myInterval">
              <slide *ngFor="let slide of clubBinding.facilityImagesList; let index=index">
                <img src="{{slide}}" alt="image slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
          <div style="text-align: center">
            <input type="file" accept="image/*" #slideImage (change)="upload(slideImage.files, 'facility')" style="display:none;">
            <button type="button" class="btn btn-success" (click)="slideImage.click()">Upload image</button>
          </div>
        </div>       
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
</div>