<app-header></app-header>

<div class="well custom-container forPlayerClubBackgroundColor">

  <mat-accordion class="example-headers-align">
    <!-- Club Info -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>Club Info</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Current Password" [formControl]="currentPassword" type="password"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="currentPassword?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="currentPassword?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="New Password" [formControl]="password" type="password"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="password?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="password?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="wrongPassword">
          Password is invalid
        </mat-error>
      </mat-form-field>
      <br>
      <mat-checkbox #isLooking>Currently looking for players</mat-checkbox>
      <br>
      <mat-form-field>
        <input matInput placeholder="Club Name" [value]="clubBinding.name" [formControl]="name"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="name?.hasError('required')">
          Club name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput placeholder="League" [value]="clubBinding.league" [formControl]="league"
          [errorStateMatcher]="validate">
          <mat-option *ngFor="let league of leagueList" [value]="league.valueOf()">{{league}}</mat-option>
        </mat-select>
        <mat-error *ngIf="league?.hasError('required')">
          League is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street Address" [value]="clubBinding.streetAddress" [formControl]="streetAddress"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetAddress?.hasError('required')">
          Street Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street Number" [value]="clubBinding.streetNumber" [formControl]="streetNumber"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetNumber?.hasError('pattern') && !streetNumber.hasError('required')">
          Street number must be a number
        </mat-error>
        <mat-error *ngIf="streetNumber?.hasError('required')">
          Street number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select matInput placeholder="Country" [value]="clubBinding.country" [formControl]="country"
          [errorStateMatcher]="validate">
          <mat-option *ngFor="let country of countryList" [value]="country.valueOf()">{{country}}</mat-option>
        </mat-select>
        <mat-error *ngIf="country?.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="City" [value]="clubBinding.city" [formControl]="city"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="city?.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Zipcode" [value]="clubBinding.zipcode" [formControl]="zipcode"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="zipcode.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Update button -->
      <input type="button" class="btn btn-success" value="Update" (click)="updateClubInfo()">

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Regular Training Schedule -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>Regular Training Schedule</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-hint>Continue to keep your current schedule or delete to remove your schedule.</mat-hint><br><br>
      <mat-label>Monday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularMonFrom.value" [formControl]="regularMonFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularMonTo.value" [formControl]="regularMonTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Tuesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularTueFrom.value" [formControl]="regularTueFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularTueTo.value" [formControl]="regularTueTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Wednesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularWedFrom.value" [formControl]="regularWedFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularWedTo.value" [formControl]="regularWedTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Thursday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularThuFrom.value" [formControl]="regularThuFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularThuTo.value" [formControl]="regularThuTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Friday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularFriFrom.value" [formControl]="regularFriFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularFriTo.value" [formControl]="regularFriTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Saturday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularSatFrom.value" [formControl]="regularSatFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularSatTo.value" [formControl]="regularSatTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Sunday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularSunFrom.value" [formControl]="regularSunFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="regularSunTo.value" [formControl]="regularSunTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Update button -->
      <input type="button" class="btn btn-success" value="Update" (click)="updateClubRegularTrainingSchedule()">
      <!-- Delete button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteClubRegularTrainingSchedule()">
      
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Fitness Training Schedule -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>Fitness Training Schedule</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-hint>Continue to keep your current schedule or delete to remove your schedule.</mat-hint><br><br>
      <mat-label>Monday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessMonFrom.value" [formControl]="fitnessMonFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessMonTo.value" [formControl]="fitnessMonTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Tuesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessTueFrom.value" [formControl]="fitnessTueFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessTueTo.value" [formControl]="fitnessTueTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Wednesday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessWedFrom.value" [formControl]="fitnessWedFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessWedTo.value" [formControl]="fitnessWedTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Thursday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessThuFrom.value" [formControl]="fitnessThuFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessThuTo.value" [formControl]="fitnessThuTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Friday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessFriFrom.value" [formControl]="fitnessFriFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessFriTo.value" [formControl]="fitnessFriTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Saturday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessSatFrom.value" [formControl]="fitnessSatFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessSatTo.value" [formControl]="fitnessSatTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Sunday</mat-label><br>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessSunFrom.value" [formControl]="fitnessSunFrom">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput [placeholder]="fitnessSunTo.value" [formControl]="fitnessSunTo">
          <mat-option *ngFor="let trainingHour of trainingHours" [value]="trainingHour.value">{{trainingHour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Update button -->
      <input type="button" class="btn btn-success" value="Update" (click)="updateClubFitnessTrainingSchedule()">
      <!-- Delete button -->
      <input type="button" class="btn btn-success" value="Delete" (click)="deleteClubFitnessTrainingSchedule()">
      
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Current Season Squad -->
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>Current Season Squad</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Add squad player fields -->
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Player name" [formControl]="squadPlayerNameCtrl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <mat-select placeholder="Position" [formControl]="squadPlayerPositionCtrl" [errorStateMatcher]='validate'>
          <mat-option *ngFor="let pos of positionList" [value]="pos.valueOf()">{{pos}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Shirt number" [formControl]="squadPlayerShirtNumberCtrl"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Shirt number must be a number
        </mat-error>
      </mat-form-field>
      <button class="btn btn-success addPlayerButton" (click)="onAddPlayerToCurrentYearSquad()">Add</button><br>

      <!-- squad player table -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Shirt Number Column -->
        <ng-container matColumnDef="shirtNumber">
          <th mat-header-cell *matHeaderCellDef> Shirt # </th>
          <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.shirtNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.position}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let squadPlayer">
            <!-- Delete Current year squadPlayer button -->
            <button mat-button color="warn" (click)="deleteClubCurrentSquadPlayer(squadPlayer)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Next Season Squad -->
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>Next Season Squad</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Add squad player fields -->
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Player name" [formControl]="squadPlayerNameCtrlNext" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <mat-select placeholder="Position" [formControl]="squadPlayerPositionCtrlNext" [errorStateMatcher]='validate'>
          <mat-option *ngFor="let pos of positionList" [value]="pos.valueOf()">{{pos}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Shirt number" [formControl]="squadPlayerShirtNumberCtrlNext"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Shirt number must be a number
        </mat-error>
      </mat-form-field>
      <button class="btn btn-success addPlayerButton" (click)="onAddPlayerToNextYearSquad()">Add</button><br>

      <!-- squad player table -->
      <table mat-table [dataSource]="nextYearSquadSource" class="mat-elevation-z8">

        <!-- Shirt Number Column -->
        <ng-container matColumnDef="shirtNumber">
          <th mat-header-cell *matHeaderCellDef> Shirt # </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer"> {{nextYearSquadPlayer.shirtNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer"> {{nextYearSquadPlayer.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer"> {{nextYearSquadPlayer.position}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer">
            <!-- Delete Current year squadPlayer button -->
            <button mat-button color="warn" (click)="deleteClubNextYearSquadPlayer(nextYearSquadPlayer)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nextYearSquadColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: nextYearSquadColumns;"></tr>
      </table>      

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Open Positions -->
    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
      <mat-expansion-panel-header>
        <mat-panel-title>Open Positions</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Position" [formControl]="openPositionName" [errorStateMatcher]="validate">
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="League" [formControl]="openPositionLeague" [errorStateMatcher]='validate'>
          <mat-option value="First League">First League</mat-option>
          <mat-option value="Second League">Second League</mat-option>
          <mat-option value="Third League">Third League</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Season" [formControl]="openPositionSeason" [errorStateMatcher]="validate">
          <mat-option value="Current year">Current Season</mat-option>
          <mat-option value="Next year">Next Season</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Contract Status" [formControl]="openPositionContract" [errorStateMatcher]='validate'>
          <mat-option value="None">None</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Open for Offers">Open for Offers</mat-option>
          <mat-option value="Contract Expired">Contract Expired</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="fourFieldsOnSameRow">
        <input matInput placeholder="Minimum Age" [formControl]="openPositionMinAge" [errorStateMatcher]='validate'>
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Age must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <input matInput placeholder="Maximum Age" [formControl]="openPositionMaxAge" [errorStateMatcher]='validate'>
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Age must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <input matInput placeholder="Height" [formControl]="openPositionHeight" [errorStateMatcher]='validate'>
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Height must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Hand Preference" [formControl]="openPositionHand" [errorStateMatcher]='validate'>
          <mat-option value="None">No Preference</mat-option>
          <mat-option value="Right">Right Hand</mat-option>
          <mat-option value="Left">Left Hand</mat-option>
          <mat-option value="Both">Both Hands</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-checkbox #openPositionSpeedy value="Speedy">Speedy</mat-checkbox>
      <mat-checkbox #openPositionAthletic value="Athletic">Athletic</mat-checkbox>
      <mat-checkbox #openPositionGreatShape value="Great shape">Great shape</mat-checkbox>
      <mat-checkbox #openPositionQuickShots value="Quick shots">Quick shots</mat-checkbox>
      <mat-checkbox #openPositionAccurateShooter value="Accurate shooter">Accurate shooter</mat-checkbox>
      <mat-checkbox #openPositionTactical value="Tactical">Tactical</mat-checkbox>
      <mat-checkbox #openPositionTeamplayer value="Teamplayer">Team player</mat-checkbox>
      <mat-checkbox #openPositionSocial value="Social">Social</mat-checkbox>
      <mat-checkbox #openPositionWinAtAllCosts value="Win at all costs">Win at all costs</mat-checkbox>
      <mat-checkbox #openPositionLongRangeShooter value="Long range shooter">Long range shooter</mat-checkbox>

      <br><br>
      <button class="btn btn-success" (click)="onAddJobPosition()">Add</button><br><br><br>

      <table mat-table [dataSource]="openPositionSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.position}} </td>
        </ng-container>

        <!-- League Column -->
        <ng-container matColumnDef="league">
          <th mat-header-cell *matHeaderCellDef> League </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.league}} </td>
        </ng-container>

        <!-- Hand Column -->
        <ng-container matColumnDef="hand">
          <th mat-header-cell *matHeaderCellDef> Hand </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.preferredHand}} </td>
        </ng-container>

        <!-- Height Column -->
        <ng-container matColumnDef="height">
          <th mat-header-cell *matHeaderCellDef> Height </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.height}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.minAge}} - {{jobPosition.maxAge}} </td>
        </ng-container>

        <!-- Season Column -->
        <ng-container matColumnDef="season">
          <th mat-header-cell *matHeaderCellDef> Season </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.season}}</td>
        </ng-container>

        <!-- Contract Column -->
        <ng-container matColumnDef="contract">
          <th mat-header-cell *matHeaderCellDef> Contract </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.contractStatus}} </td>
        </ng-container>

        <!-- Strengths Column -->
        <ng-container matColumnDef="strengths">
          <th mat-header-cell *matHeaderCellDef> Strengths </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.strengthsList.length}} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let jobPosition">
            <!-- Delete Job position button -->
            <button mat-button color="warn" (click)="deleteClubOpenPosition(jobPosition)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="openPositionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: openPositionColumns;"></tr>
      </table>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Staff -->
    <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)">
      <mat-expansion-panel-header>
        <mat-panel-title>Staff</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-label>Technical Staff</mat-label><br>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Trainer" [value]="trainerCtrl.value" [formControl]="trainerCtrl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Assistant Trainer" [value]="assistantTrainerCtrl.value" [formControl]="assistantTrainerCtrl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Physiotherapist" [value]="physiotherapistCtrl.value" [formControl]="physiotherapistCtrl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Assistant Physiotherapist" [value]="assistantPhysiotherapistCtrl.value" [formControl]="assistantPhysiotherapistCtrl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Team Manager" [value]="managerCtrl.value" [formControl]="managerCtrl" [errorStateMatcher]="validate">
      </mat-form-field>

      <div>
          <!-- Update button -->
          <input type="button" class="btn btn-success" value="Update" (click)="updateClubStaff()">
      </div>
      
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Values and Preferences -->
    <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)">
      <mat-expansion-panel-header>
        <mat-panel-title>Values and Preferences</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
          <div class="col-xs-6">
            <mat-label>Values</mat-label><br>
            <mat-checkbox #hardWorking value="Hard working">Hard Working</mat-checkbox><br>
            <mat-checkbox #socialCohesion value="Social cohesion">Social Cohesion</mat-checkbox><br>
            <mat-checkbox #winningMentality value="Winning mentality">Winning Mentality</mat-checkbox><br>
            <br><br>
          </div>
          <div class="col-xs-6">
            <mat-label>Preferences</mat-label><br>
            <mat-checkbox #talentDevelopmentClub value="Talent development club">Talent Development Club</mat-checkbox><br>
            <mat-checkbox #strivesForTitles value="Strives for titles">Strives for Titles</mat-checkbox><br>
            <mat-checkbox #resultOriented value="Result oriented">Result Oriented</mat-checkbox><br>
            <mat-checkbox #processOriented value="Process oriented">Process Oriented</mat-checkbox><br>
            <br><br>
          </div>
        </div>
        <div class="row">
          <mat-form-field>
            <textarea matInput placeholder="Describe your values..." matTextareaAutosize matAutosizeMinRows="10"
              matAutosizeMaxRows="10" [value]="valueDescription.value" [formControl]="valueDescription" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Describe your preferences..." matTextareaAutosize matAutosizeMinRows="10"
              matAutosizeMaxRows="10" [value]="preferenceDescription.value" [formControl]="preferenceDescription" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>
        </div>

        <div>
          <!-- Update button -->
          <input type="button" class="btn btn-success" value="Update" (click)="deleteClubValuesAndPreferences()">
        </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Pictures -->
    <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)">
      <mat-expansion-panel-header>
        <mat-panel-title>Pictures</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-md-6" style="text-align: center;">
          
          <h3>Profile picture</h3>
          <div>
            <img class="responsiveImage" src="{{clubBinding.imagePath}}" height="150" width="150" />
          </div>
          <input type="file" accept="image/*" #profile (change)="upload(profile.files, 'profile')" style="display:none;">
          <button type="button" class="btn btn-success" (click)="profile.click()">Upload profile picture</button>

          <div>
              <!-- Delete button -->
              <input type="button" class="btn btn-success" value="Delete profile picture" (click)="deleteClubProfile()">
          </div>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <h3>Facility pictures</h3>

          <div *ngIf="clubBinding.facilityImagesList.length == 0">
              <h4 style="text-align: center; font-family: 'Fresno'; margin-bottom: 25px">
                No facility images was specified from the club</h4>
          </div>
  
          <div *ngIf="clubBinding.facilityImagesList != null">
              <carousel [interval]="myInterval">
                  <slide *ngFor="let slide of clubBinding.facilityImagesList; let index=index">
                      <div>
                        <!-- Delete button -->
                        <input type="button" class="btn btn-success" value="Delete facility image" (click)="deleteClubFacilityImage(slide)">
                      </div>
                      <img [src]="slide" alt="image slide" style="display: block; width: 100%;">
                  </slide>
                </carousel>
                
          </div>

          <div style="text-align: center">
            <input type="file" accept="image/*" #slideImage (change)="upload(slideImage.files, 'facility')" style="display:none;">
            <button type="button" class="btn btn-success" (click)="slideImage.click()">Upload facility image</button>
          </div>
          
        </div>       
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <div>
      <input type="button" class="btn btn-success" value="Delete profile" (click)="deleteClub()">
  </div>
</div>