h1 {
    font-family: 'fresno';
}

.custom-container {
    text-align: center;
    margin-top: 50px;
}

#buttonGroup {
    margin-top: 50px;
}

p {
    width: 50%;
    display: inline-block;
}

mat-form-field,
button {
    width: 50%;
    margin: 0 2%;
}

mat-checkbox {
    width: 10%;
    margin: 1.5%;
}

@media only screen and (max-width: 480px) {
    mat-form-field,
    button {
    width: 80%;
    margin: 0 2%;
    }

    p {
        width: 80%;
        display: inline-block;
    }
  }
