<app-header></app-header>
<div class="well custom-container forPlayerClubBackgroundColor">
  <h1>Search Criterias</h1>
  <hr>
  <p class="lead">
    Fill out the criteria below to start searching for a club. The more fields you fulfill
    the more accurate the search will be.
  </p>

  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="searchForm">
        <mat-form-field>
          <mat-select placeholder="Country" formControlName="country">
            <mat-option *ngFor="let country of countryList" [value]="country.valueOf()">{{country}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select placeholder="League" formControlName="league">
            <mat-option *ngFor="let league of leagueList" [value]="league.valueOf()">{{league}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select placeholder="Position" formControlName="position">
            <mat-option *ngFor="let position of positionList" [value]="position.valueOf()">{{position}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select placeholder="Season" formControlName="season">
            <mat-option *ngFor="let season of seasonList" [value]="season.valueOf()">{{season}}</mat-option>
          </mat-select>
        </mat-form-field><br><br>
        <!-- VALUES -->
        <mat-checkbox #hardWorking value="Hard working">Hard Working</mat-checkbox>
        <mat-checkbox #socialCohesion value="Social cohesion">Social Cohesion</mat-checkbox>
        <mat-checkbox #winningMentality value="Winning mentality">Winning Mentality</mat-checkbox><br><br>
        <br>
        <!-- PREFERENCES -->
        <mat-checkbox #talentDevelopmentClub value="Talent development club">Talent Development Club</mat-checkbox>
        <mat-checkbox #strivesForTitles value="Strives for titles">Strives for Titles</mat-checkbox>
        <mat-checkbox #resultOriented value="Result oriented">Result Oriented</mat-checkbox>
        <mat-checkbox #processOriented value="Process oriented">Process Oriented</mat-checkbox><br>

        <div id="buttonGroup" class="col-xs-12">
          <button class="btn btn-primary" [routerLink]="['/search-for-clubs']"
            (click)="searchForClubs()">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>