<app-header></app-header>
<div class="well custom-container forPlayerClubBackgroundColor">
  <h1>Search Criterias</h1>
  <hr>
  <p class="lead">
    Fill out the criteria below to start searching for a club. The more fields you fulfill
    the more accurate the search will be.
  </p>

  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="searchForm">
        <mat-form-field>
          <mat-select placeholder="Country" formControlName="country">
            <mat-option *ngFor="let country of countryList" [value]="country.valueOf()">{{country}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select placeholder="League" formControlName="league">
            <mat-option *ngFor="let league of leagueList" [value]="league.valueOf()">{{league}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select placeholder="Position" formControlName="position">
            <mat-option *ngFor="let position of positionList" [value]="position.valueOf()">{{position}}</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field>
          <mat-select placeholder="Season" formControlName="season">
            <mat-option *ngFor="let season of seasonList" [value]="season.valueOf()">{{season}}</mat-option>
          </mat-select>
        </mat-form-field><br><br>
        <!-- VALUES -->
        <mat-checkbox #val1 value="val1">Value 1</mat-checkbox>
        <mat-checkbox #val2 value="val2">Value 2</mat-checkbox>
        <mat-checkbox #val3 value="val3">Value 3</mat-checkbox>
        <mat-checkbox #val4 value="val4">Value 4</mat-checkbox>
        <mat-checkbox #val5 value="val5">Value 5</mat-checkbox><br><br>
        <br>
        <!-- PREFERENCES -->
        <mat-checkbox #pref1 value="pref1">Pref 1</mat-checkbox>
        <mat-checkbox #pref2 value="pref2">Pref 2</mat-checkbox>
        <mat-checkbox #pref3 value="pref3">Pref 3</mat-checkbox>
        <mat-checkbox #pref4 value="pref4">Pref 4</mat-checkbox>
        <mat-checkbox #pref5 value="pref5">Pref 5</mat-checkbox><br>

        <div id="buttonGroup" class="col-xs-12">
          <button class="btn btn-primary" [routerLink]="['/search-for-clubs']"
            (click)="searchForClubs()">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>