mat-horizontal-stepper {
    width: 120%;
    align-content: center;
}

mat-form-field {
    margin: 2px 5px;
}

.playerRegistrationButtonGroup {
    text-align: right;
}

.uploadBtn {
    margin: 0 3px;
}

.chooseFileBtn {
    margin: 0 3px;
}