mat-horizontal-stepper {
    width: 100%;
}

mat-form-field {
    margin: auto;
    width: 100%;
}

.nextBtn {
    float: right;
}

.prevBtn {
    float: left;
}

.uploadBtn,
.chooseFileBtn {
    margin-right: 5px;
}