<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- PERSONAL INFO -->
  <mat-step [stepControl]="personalInfoFormGroup">
    <div class="formWrapper">
      <form [formGroup]="personalInfoFormGroup">
        <h2 class="stepHeadline">Personal Information</h2>
        <br>
        <p>
          All of these fields are <strong>required</strong>. 
          <br>
          Please fill out your personal information before you continue.</p>
        <hr>

        <mat-label>Login credentials</mat-label>
        <br>
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="emailControl" [errorStateMatcher]='validate'>
          <mat-error *ngIf="emailControl?.hasError('email') && !emailControl?.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailControl?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
            [formControl]="passwordControl" [errorStateMatcher]='validate'>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordControl?.hasError('minlength') && !passwordControl?.hasError('required')">
            Password must be at least 6 characters
          </mat-error>
          <mat-error *ngIf="passwordControl?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>
        <mat-label>Your full name</mat-label>
        <br>
        <mat-form-field>
          <input matInput placeholder="First Name" [formControl]="firstNameControl"
            [errorStateMatcher]='validate'>
          <mat-error *ngIf="firstNameControl?.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" [formControl]="lastNameControl"
            [errorStateMatcher]='validate'>
          <mat-error *ngIf="lastNameControl?.hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-label>Country info</mat-label>
        <br>
        <mat-form-field class="doubleSizeField">
            <mat-select placeholder="Country" [formControl]="countryControl" [errorStateMatcher]="validate">
              <mat-option *ngFor="let country of countryList" [value]="country">
                {{country}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="countryControl?.hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        <br>
        <mat-label>Date of birth</mat-label>
        <br>
        <mat-form-field class="threeFieldsOnSameRow">
          <input matInput placeholder="Day (DD)" [formControl]="dayControl" [errorStateMatcher]='validate'>
          <mat-error
            *ngIf="dayControl?.hasError('minlength') || dayControl?.hasError('maxlength') && !dayControl?.hasError('pattern') && !dayControl?.hasError('required')">
            Day of birth must be 2 characters
          </mat-error>
          <mat-error *ngIf="dayControl?.hasError('pattern') && !dayControl?.hasError('required')">
            Day of birth must be a number
          </mat-error>
          <mat-error *ngIf="dayControl?.hasError('required')">
            Day is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="threeFieldsOnSameRow">
          <mat-select placeholder="Select Month" [formControl]="monthControl" [errorStateMatcher]='validate'>
            <mat-option value="01">January</mat-option>
            <mat-option value="02">February</mat-option>
            <mat-option value="03">March</mat-option>
            <mat-option value="04">April</mat-option>
            <mat-option value="05">May</mat-option>
            <mat-option value="06">June</mat-option>
            <mat-option value="07">July</mat-option>
            <mat-option value="08">August</mat-option>
            <mat-option value="09">September</mat-option>
            <mat-option value="10">October</mat-option>
            <mat-option value="11">November</mat-option>
            <mat-option value="12">December</mat-option>
          </mat-select>
          <mat-error *ngIf="monthControl?.hasError('required')">
            Month is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="threeFieldsOnSameRow">
          <input matInput placeholder="Year (YYYY)" [formControl]="yearControl"
            [errorStateMatcher]='validate'>
          <mat-error
            *ngIf="yearControl?.hasError('minlength') || yearControl?.hasError('maxlength') && !yearControl?.hasError('pattern') && !yearControl?.hasError('required')">
            Year must be a number
          </mat-error>
          <mat-error *ngIf="yearControl?.hasError('pattern') && !yearControl?.hasError('required')">
            Year must be 4 characters
          </mat-error>
          <mat-error *ngIf="yearControl?.hasError('required')">
            Year is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <br>
        <hr><br>

        <button mat-flat-button matStepperNext class="btn btn-primary firstNextBtn">Next</button>
      </form>
    </div>
  </mat-step>


  <!-- ADDITIONAL INFO -->
  <mat-step [stepControl]="additionalInfoFormGroup">
    <form [formGroup]="additionalInfoFormGroup">
      <h2 class="stepHeadline">Additional Information</h2>
      <br>
      <p>
        All of these fields are <strong>optional</strong>. 
        <br>
        It is recommended filling out as much information as possible for better search results, when a club is looking for a player.</p>
      <hr>

      <mat-label>Measurements</mat-label>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Height in cm" [formControl]="heightControl"
          [errorStateMatcher]='validate'>
        <mat-error *ngIf="heightControl?.hasError('pattern')">
          Height must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Weight in kg" [formControl]="weightControl"
          [errorStateMatcher]='validate'>
        <mat-error *ngIf="weightControl?.hasError('pattern')">
          Weight must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Bodyfat in %" [formControl]="bodyfatControl"
          [errorStateMatcher]='validate'>
        <mat-error *ngIf="bodyfatControl?.hasError('pattern')">
          Body fat must be a number
        </mat-error>
      </mat-form-field>

      <br>
      <mat-label>Positions</mat-label>
      <br>
      <mat-form-field>
        <mat-select placeholder="Primary position" formControlName="primaryPosition" [errorStateMatcher]='validate'>
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Secondary position" formControlName="secondaryPosition" [errorStateMatcher]='validate'>
          <mat-option value="None">None</mat-option>
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>Preferred hand</mat-label>
      <br>
      <mat-form-field class="doubleSizeField">
        <mat-select placeholder="Select Hand" formControlName="preferredHand" [errorStateMatcher]='validate'>
          <mat-option value="Right">Right Hand</mat-option>
          <mat-option value="Left">Left Hand</mat-option>
          <mat-option value="Both">Both Hands</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>Contract Status</mat-label>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Contract Status" formControlName="contractStatusControl" [errorStateMatcher]='validate'>
      </mat-form-field>

      <br>
      <mat-label>Injury Status</mat-label>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Injury Status" formControlName="injuryStatusControl" [errorStateMatcher]='validate'>
      </mat-form-field>

      <br>
      <hr><br>

      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- STRENGTHS & WEAKNESSES -->
  <mat-step [stepControl]="strengthWeaknessFormGroup">
    <form [formGroup]="strengthWeaknessFormGroup">
      <h2 class="stepHeadline">Strengths and Weaknesses</h2>
      <br>
      <p>
        All of these fields are <strong>optional</strong>.
        <br>
        Filling out strengths and weaknesses will improve your match with clubs.
      </p>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <mat-label>Strengths</mat-label><br>
          <mat-hint>Choose your strengths</mat-hint><br><br>
          <mat-checkbox #firstStrength value="str1">Strength #1</mat-checkbox><br>
          <mat-checkbox #secondStrength value="str2">Strength #2</mat-checkbox><br>
          <mat-checkbox #thirdStrength value="str3">Strength #3</mat-checkbox><br>
          <mat-checkbox #fourthStrength value="str4">Strength #4</mat-checkbox><br>
          <mat-checkbox #fifthStrength value="str5">Strength #5</mat-checkbox><br>
          <br>
          <mat-form-field class="doubleSizeField">
            <textarea matInput placeholder="Describe your strengths in depth..." matTextareaAutosize matAutosizeMinRows="10"
              matAutosizeMaxRows="10" formControlName="strengths" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-label>Weaknesses</mat-label><br>
          <mat-hint>Choose your weaknesses</mat-hint><br><br>
          <mat-checkbox #firstWeakness value="weak1">Weakness #1</mat-checkbox><br>
          <mat-checkbox #secondWeakness value="weak2">Weakness #2</mat-checkbox><br>
          <mat-checkbox #thirdWeakness value="weak3">Weakness #3</mat-checkbox><br>
          <mat-checkbox #fourthWeakness value="weak4">Weakness #4</mat-checkbox><br>
          <mat-checkbox #fifthWeakness value="weak5">Weakness #5</mat-checkbox><br>
          <br>
          <mat-form-field class="doubleSizeField">
            <textarea matInput placeholder="Describe your weaknesses in depth..." matTextareaAutosize matAutosizeMinRows="10"
              matAutosizeMaxRows="10" formControlName="weaknesses" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>
        </div>
      </div>

      <br>
      <hr><br>

      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- SPORT CV -->
  <mat-step [stepControl]="sportCvFormGroup">
    <form [formGroup]="sportCvFormGroup">
      <h2 class="stepHeadline">Sport CV</h2>
      <br>
      <p>
        All of these fields are <strong>optional</strong>.
        <br>
        Filling out your Sport CV will improve your match when searching for clubs.
      </p>
      <hr>

      <mat-label>Club info</mat-label>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Current club" formControlName="currentClub"
          [errorStateMatcher]='validate'>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Current position" formControlName="currentPrimaryPosition" [errorStateMatcher]='validate'>
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Current secondary position" formControlName="currentSecondaryPosition" [errorStateMatcher]='validate'>
          <mat-option value="None">None</mat-option>
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>Other info</mat-label>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <textarea matInput placeholder="Accomplishments" matTextareaAutosize matAutosizeMinRows="10"
          matAutosizeMaxRows="10" formControlName="accomplishments" [errorStateMatcher]='validate'></textarea>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <textarea matInput placeholder="Statistics" matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="10"
          formControlName="statistics" [errorStateMatcher]='validate'></textarea>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <textarea matInput placeholder="Former clubs" matTextareaAutosize matAutosizeMinRows="10"
          matAutosizeMaxRows="10" formControlName="formerClubs" [errorStateMatcher]='validate'></textarea>
      </mat-form-field>

      <br>
      <hr><br>

      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- NATIONAL TEAM -->
  <mat-step [stepControl]="nationalTeamFormGroup">
    <form [formGroup]="nationalTeamFormGroup">
      <h2 class="stepHeadline">National Team</h2>
      <br>
      <p>
        All of these fields are <strong>optional</strong>.
        <br>
        If you have played on the national team, it is recommended to fill it out. 
      </p>
      <hr>

      <div class="row">
        <div class="col-xs-6">
          <mat-label>A Team</mat-label><br>
          <mat-hint>Fill out at least appearances and position</mat-hint>
          <br>
          <mat-form-field>
            <input matInput placeholder="Appearances" formControlName="aTeamAppearances"
              [errorStateMatcher]='validate'>
            <mat-error *ngIf="aTeamNumberControl?.hasError('pattern')">
              Appearances must be a number
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Position" formControlName="aTeamPosition" [errorStateMatcher]='validate'>
              <mat-option value="Goalkeeper">Goalkeeper</mat-option>
              <mat-option value="Left wing">Left wing</mat-option>
              <mat-option value="Left back">Left back</mat-option>
              <mat-option value="Playmaker">Playmaker</mat-option>
              <mat-option value="Pivot">Pivot</mat-option>
              <mat-option value="Right back">Right back</mat-option>
              <mat-option value="Right wing">Right wing</mat-option>
              <mat-option value="Defence">Defence</mat-option>
            </mat-select>

          </mat-form-field>
          <br>
          <mat-form-field class="doubleSizeField">
            <textarea matInput placeholder="Statistics" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="3" formControlName="aTeamStatistics" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>

          <br>
          <mat-label>U21 Team</mat-label><br>
          <mat-hint>Fill out at least appearances and position</mat-hint>
          <br>
          <mat-form-field>
            <input matInput placeholder="Appearances" formControlName="u21TeamAppearances"
              [errorStateMatcher]='validate'>
              <mat-error *ngIf="u21NumberControl?.hasError('pattern')">
                Appearances must be a number
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Position" formControlName="u21TeamPosition" [errorStateMatcher]='validate'>
              <mat-option value="Goalkeeper">Goalkeeper</mat-option>
              <mat-option value="Left wing">Left wing</mat-option>
              <mat-option value="Left back">Left back</mat-option>
              <mat-option value="Playmaker">Playmaker</mat-option>
              <mat-option value="Pivot">Pivot</mat-option>
              <mat-option value="Right back">Right back</mat-option>
              <mat-option value="Right wing">Right wing</mat-option>
              <mat-option value="Defence">Defence</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="doubleSizeField">
            <textarea matInput placeholder="Statistics" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="3" formControlName="u21TeamStatistics" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>
        </div>

        <div class="col-xs-6">
          <mat-label>B Team</mat-label><br>
          <mat-hint>Fill out at least appearances and position</mat-hint>
          <br>
          <mat-form-field>
            <input matInput placeholder="Appearances" formControlName="bTeamAppearances"
              [errorStateMatcher]='validate'>
            <mat-error *ngIf="bTeamNumberControl?.hasError('pattern')">
              Appearances must be a number
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Position" formControlName="bTeamPosition" [errorStateMatcher]='validate'>
              <mat-option value="Goalkeeper">Goalkeeper</mat-option>
              <mat-option value="Left wing">Left wing</mat-option>
              <mat-option value="Left back">Left back</mat-option>
              <mat-option value="Playmaker">Playmaker</mat-option>
              <mat-option value="Pivot">Pivot</mat-option>
              <mat-option value="Right back">Right back</mat-option>
              <mat-option value="Right wing">Right wing</mat-option>
              <mat-option value="Defence">Defence</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="doubleSizeField">
            <textarea matInput placeholder="Statistics" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="3" formControlName="bTeamStatistics" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>

          <br>
          <mat-label>U18 Team</mat-label><br>
          <mat-hint>Fill out at least appearances and position</mat-hint>
          <br>
          <mat-form-field>
            <input matInput placeholder="Appearances" formControlName="u18TeamAppearances"
              [errorStateMatcher]='validate'>
            <mat-error *ngIf="u18NumberControl?.hasError('pattern')">
              Appearances must be a number
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Position" formControlName="u18TeamPosition" [errorStateMatcher]='validate'>
              <mat-option value="Goalkeeper">Goalkeeper</mat-option>
              <mat-option value="Left wing">Left wing</mat-option>
              <mat-option value="Left back">Left back</mat-option>
              <mat-option value="Playmaker">Playmaker</mat-option>
              <mat-option value="Pivot">Pivot</mat-option>
              <mat-option value="Right back">Right back</mat-option>
              <mat-option value="Right wing">Right wing</mat-option>
              <mat-option value="Defence">Defence</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="doubleSizeField">
            <textarea matInput placeholder="Statistics" matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="3" formControlName="u18TeamStatistics" [errorStateMatcher]='validate'></textarea>
          </mat-form-field>
        </div>
      </div>

      <br>
      <hr><br>

      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- PLAYER PRESENTATION -->
  <mat-step [stepControl]="playerPresentationFormGroup">
    <form [formGroup]="playerPresentationFormGroup">
      <h2 class="stepHeadline">Player Presentation</h2>
      <br>
      <p>
        Making a player presentation is important to give a first impression to the clubs looking for players.
        <br>
        It is <strong>optional</strong>, but highly recommended.
      </p>
      <hr>

      <div class="row">
        <div class="col-xs-6">
          <mat-label>Upload profile picture</mat-label>
          <br>
          <mat-form-field class="doubleSizeField">
            <ngx-mat-file-input #profilePicture formControlName="profilePictureControl" (change)="onProfilePictureFileSelected($event)"
              placeholder="Upload picture" accept="image/*"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!profilePicture.empty" (click)="profilePicture.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <br>
          <button class="btn btn-primary chooseFileBtn" (click)="profilePicture.open()">Choose File</button>
        </div>

        <div class="col-xs-6">
          <mat-label>Upload presentation video</mat-label>
          <br>
          <mat-form-field class="doubleSizeField">
            <ngx-mat-file-input #playerPresentation formControlName="videoFileControl"
              (change)="onPresentationVideoFileSelected($event)" placeholder="Upload video" accept="video/*">
            </ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!playerPresentation.empty"
              (click)="playerPresentation.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>

          <br>
          <br>
          <button class="btn btn-primary chooseFileBtn" (click)="playerPresentation.open()">Choose File</button>
        </div>
      </div>

      <br>
      <hr><br>

      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn"
        (click)="registerPlayer()">Register</button>
    </form>
  </mat-step>


  <!-- LAST STEP -->
  <mat-step>
    <div *ngIf="errorMessage == ''">
      <h1 class="stepHeadline lastStepHeadline">
        Thank you!
      </h1>
      <p class="lastStepInfo">
        Your account has now been registered. A confirmation mail has been sent to {{ emailControl.value }}.
        <br>
        Please click the link in the email to confirm your email.
      </p>
    </div>
    <p class="lastStepInfo" *ngIf="errorMessage != ''">
      {{ errorMessage }}
    </p>
    <hr>

    <button mat-flat-button class="btn btn-primary doneBtn" (click)="modalRef.hide()">Done</button>
  </mat-step>
</mat-horizontal-stepper>