
<button type="button" class="openContactAdviserBtn" aria-label="Open contact adviser" (click)="toggle()"><a
    class="glyphicon glyphicon-comment" style="text-decoration: none"></a>
</button>

<div *ngIf="!isCollapsed" class="chat-popup">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container" novalidate>
    <h1>Contact Advisor</h1>
    <div style="height: 40px; text-align: center">
        <h4 style="color: green;" *ngIf="succesMessage">Your message has been sent</h4>
        <h4 style="color: red;" *ngIf="errorMessage">Something went wrong. Try again.</h4>
    </div>
    <div>
      <label>Message</label><br>
      <textarea formControlName="message" placeholder="Type your message here..." onfocus="this.placeholder =''"
        onblur="this.placeholder='Type your message here...'" required></textarea>
    </div>

    <input type="submit" value="Send" class="btn" aria-label="Send message" />
    <button type="button" class="btn cancel" aria-label="Close contact adviser" (click)="toggle()">Close</button>
  </form>
</div>