<button type="button" class="openContactAdviserBtn" aria-label="Open contact adviser" (click)="toggle()"><a
    class="glyphicon glyphicon-comment" style="text-decoration: none"></a>
</button>

<div *ngIf="!isCollapsed" class="chat-popup">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container" novalidate>
    <h1>Contact Advisor</h1>
    <div style="height: 50px">
      <table [ngClass]="{
      'has-danger': email.invalid && (email.dirty || email.touched),
      'has-success': email.valid && (email.dirty || email.touched)}">
        <tr>
          <td id="labelwidth">
            <label>E-mail:</label>
          </td>
          <td id="inputwidth" *ngIf="playerBinding==!null; then playerEmail; else clubEmail">
            <ng-template #playerEmail>
              <input type="email" formControlName="email" placeholder="Enter your e-mail here..."
                onfocus="this.placeholder =''" onblur="this.placeholder='Enter your e-mail here...'"
                value="{{playerBinding.email}}" required style="border: 1px solid #cccccc;" />
            </ng-template>

            <ng-template #clubEmail>
              <input type="email" formControlName="email" placeholder="Enter your e-mail here..."
                onfocus="this.placeholder =''" onblur="this.placeholder='Enter your e-mail here...'"
                value="{{clubBinding.email}}" required style="border: 1px solid #cccccc;" />
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="email.errors && (email.dirty || email.touched)">
          <td></td>
          <td id="ee">
            <p *ngIf="email.errors.required">E-mail is required</p>
            <p *ngIf="email.errors.pattern">The e-mail address must contain @ character</p>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <label>Message</label><br>
      <textarea name="message" placeholder="Type your message here..." onfocus="this.placeholder =''"
        onblur="this.placeholder='Type your message here...'" required></textarea>
    </div>

    <input type="submit" value="Send" class="btn" aria-label="Send message" />
    <button type="button" class="btn cancel" aria-label="Close contact adviser" (click)="toggle()">Close</button>
  </form>
</div>
