
<section class="custom-container forPlayerClubBackgroundColor">

    <div class="row" style="margin-top: 25px;">
        <div class="col-md-2" style="text-align: center; margin-top: 15px;">
            <a class="editProfileButton">Edit Profile</a>
        </div>
        <div class="col-md-10"></div>
      </div>

  <div class="row">
    <div class="col-sm-2" style=" text-align: center;">
      <img src="../../assets/Images/player-icon.png"  height="175" width="175" />
      <h2 style="word-wrap: break-word;">{{playerBinding.firstName}} {{playerBinding.lastName}}</h2>

    </div>
    <div class="col-sm-5" style="margin-top:16px;">
      <table class="tableFixed">
        <tr>
          <td>Date of birth:</td>
          <td>{{playerBinding.day}} / {{playerBinding.month}} / {{playerBinding.year}}</td>
        </tr>
        <tr>
          <td>Nationality:</td>
          <td>{{playerBinding.country}}</td>
        </tr>
        <tr>
            <td>League:</td>
            <td>{{playerBinding.league}}</td>
          </tr>  
        <tr>
          <td>Primary position:</td>
          <td>{{playerBinding.primaryPosition}}</td>
        </tr>
        <tr>
            <td>Secondary position:</td>
            <td>{{playerBinding.secondaryPosition}}</td>
          </tr>
        <tr>
          <td>Contract status:</td>
          <td>{{playerBinding.contractStatus}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-5" style="margin-top:16px;">
      <table class="tableFixed">
        <tr>
          <td>Height:</td>
          <td *ngIf="playerBinding.height == null" >Not specified</td>
          <td *ngIf="playerBinding.height != null" >{{playerBinding.height}}</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td *ngIf="playerBinding.weight == null" >Not specified</td>
          <td *ngIf="playerBinding.weight != null" >{{playerBinding.weight}}</td>
        </tr>
        <tr>
          <td>Bodyfat:</td>
          <td *ngIf="playerBinding.bodyfat == null" >Not specified</td>
          <td *ngIf="playerBinding.bodyfat != null" >{{playerBinding.bodyfat}}</td>
        </tr>
        <tr>
          <td>Preferred hand:</td>
          <td>{{playerBinding.preferredHand}}</td>
        </tr>
        <tr>
          <td>Injury status:</td>
          <td>{{playerBinding.injuryStatus}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h1 style="text-align:center; margin-top:30px; font-family: 'Fresno'">Sport CV</h1>
      <table class="tableFixed">
        <tr>
          <td>Current Club</td>
          <td>{{playerBinding.currentClub}}</td>
        </tr>
        <tr>
          <td>Primary position</td>
          <td>{{playerBinding.currentClubPrimaryPosition}}</td>
        </tr>
        <tr>
            <td>Secondary position</td>
            <td>{{playerBinding.currentClubSecondaryPosition}}</td>
        </tr>
        <tr>
          <td>Accomplishment:</td>
          <td>{{playerBinding.accomplishments}}</td>
        </tr>
        <tr>
          <td>Statistics:</td>
          <td>{{playerBinding.statistic}}</td>
        </tr>
        <tr>
          <td>Former clubs</td>
          <td>{{playerBinding.formerClubs}}</td>
        </tr>
      </table>
      <h1 style="text-align: center; margin-top:50px; font-family: 'Fresno'">Strengths / Weaknesses</h1>

      <div class="row" style="margin-top:10px; text-align: center">
       
          <div style="margin-left: 10%; margin-right: 10%;">
              <h5>{{playerBinding.strengthDescription}} {{playerBinding.weaknessDescription}}</h5>
          </div>
         
          <div class="col-md-6">
              <h4>Strength</h4>
              <p *ngIf="playerBinding.strengthList.length == 0">Not specified</p>
              <div *ngFor="let strength of playerBinding.strengthList">
                  <p>{{strength}}</p>
              </div>
          </div>
          <div class="col-md-6">
              <h4>Weaknesses</h4>
              <p *ngIf="playerBinding.weaknessList.length == 0">Not specified</p>
              <div *ngFor="let weakness of playerBinding.weaknessList">
                  <p >{{weakness}}</p>
              </div>
          </div>
        </div>

    </div>
    <div class="col-sm-6">
      <h1 style="text-align:center; margin-top:30px; font-family: 'Fresno'">National Team</h1>
      <div style="margin-top:10px;">      
          <div *ngIf="playerBinding.nationalTeamList.length > 0">
            <accordion>
            <accordion-group  [isOpen]="isFirstOpen">
              <h5 accordion-heading >A team statistics </h5>
              <div *ngFor="let nationalTeam of playerBinding.nationalTeamList">
                <div *ngIf="nationalTeam.name == 'A'"> 
                    <p>Appearances: {{nationalTeam.appearances}}</p>
                    <p>Position: {{nationalTeam.position}}</p>
                    <p *ngIf="nationalTeam.statistic != ''">Statistics: {{nationalTeam.statistic}}</p>
                    <p *ngIf="nationalTeam.statistic == ''">Statistics: Not specified</p>
                </div>
                <div *ngIf="nationalTeam.name != 'A'"> 
                    <p>Appearances: Not specified</p>
                    <p>Position: Not specified</p>
                    <p>Statistic: Not specified</p>
                </div>
              </div>
            </accordion-group>
            <accordion-group [isOpen]="BTeamOpen">
                <h5 accordion-heading >B team statistics </h5>
                <div *ngFor="let nationalTeam of playerBinding.nationalTeamList">
                  <div *ngIf="nationalTeam.name == 'B'"> 
                      <p>Appearances: {{nationalTeam.appearances}}</p>
                      <p>Position: {{nationalTeam.position}}</p>
                      <p *ngIf="nationalTeam.statistic != ''">Statistics: {{nationalTeam.statistic}}</p>
                      <p *ngIf="nationalTeam.statistic == ''">Statistics: Not specified</p>
                  </div>
                  <div *ngIf="nationalTeam.name != 'B'"> 
                      <p>Appearances: Not specified</p>
                      <p>Position: Not specified</p>
                      <p>Statistic: Not specified</p>
                  </div>
                </div>
              </accordion-group>
              <accordion-group>
                  <h5 accordion-heading >U21 team statistics </h5>
                  <div *ngFor="let nationalTeam of playerBinding.nationalTeamList">
                    <div *ngIf="nationalTeam.name == 'U21'"> 
                        <p>Appearances: {{nationalTeam.appearances}}</p>
                        <p>Position: {{nationalTeam.position}}</p>
                        <p *ngIf="nationalTeam.statistic != ''">Statistics: {{nationalTeam.statistic}}</p>
                        <p *ngIf="nationalTeam.statistic == ''">Statistics: Not specified</p>
                    </div>
                    <div *ngIf="nationalTeam.name != 'U21'"> 
                        <p>Appearances: Not specified</p>
                        <p>Position: Not specified</p>
                        <p>Statistic: Not specified</p>
                    </div>
                  </div>
                </accordion-group>
                <accordion-group>
                    <h5 accordion-heading >U18 team statistics </h5>
                    <div *ngFor="let nationalTeam of playerBinding.nationalTeamList">
                      <div *ngIf="nationalTeam.name == 'U18'"> 
                          <p>Appearances: {{nationalTeam.appearances}}</p>
                          <p>Position: {{nationalTeam.position}}</p>
                          <p *ngIf="nationalTeam.statistic != ''">Statistics: {{nationalTeam.statistic}}</p>
                          <p *ngIf="nationalTeam.statistic == ''">Statistics: Not specified</p>
                      </div>
                      <div *ngIf="nationalTeam.name != 'U18'"> 
                          <p>Appearances: Not specified</p>
                          <p>Position: Not specified</p>
                          <p>Statistic: Not specified</p>
                      </div>
                    </div>
                  </accordion-group>
          </accordion>
          </div>
          
        </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 style="text-align:center; font-family: 'Fresno'">Player presentation</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <app-contact-adviser></app-contact-adviser>
</section>
