@{
    ViewBag.Title = "Player Dashboard";
}

<body>
    <section >
        <div class="row">
            <div class="col-sm-4" style=" text-align: center;">
                <img src="~/Images/basketball-icon.png" height="175" width="175" />
                <h2 style="word-wrap: break-word;">Rune Baun Andersen</h2>

            </div>
            <div class="col-sm-4" style="margin-top:16px;">
                <table class="tableFixed">
                    <tr>
                        <td>Date of birth:</td>
                        <td>12/12/1995</td>
                    </tr>
                    <tr>
                        <td>Nationality:</td>
                        <td>Denmark</td>
                    </tr>
                    <tr>
                        <td>Position:</td>
                        <td>Left wing</td>
                    </tr>
                    <tr>
                        <td>Contract status:</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Current wage:</td>
                        <td>250.000 DKK</td>
                    </tr>
                    <tr>
                        <td>Preferred wage:</td>
                        <td>300.000 DKK</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4" style="margin-top:16px;">
                <table class="tableFixed">
                    <tr>
                        <td>Height:</td>
                        <td>193 cm</td>
                    </tr>
                    <tr>
                        <td>Weight:</td>
                        <td>100 kg</td>
                    </tr>
                    <tr>
                        <td>Bodyfat:</td>
                        <td>90 %</td>
                    </tr>
                    <tr>
                        <td>Preferred hand:</td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td>Injury status:</td>
                        <td>Knee injury</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-6" >
                <h1 style="text-align:center; margin-top:30px;">Sport CV</h1>
                <table class="tableFixed">
                    <tr>
                        <td>Current Club</td>
                        <td>TTH Holstebro</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td>Left wing</td>
                    </tr>
                    <tr>
                        <td>Accomplishment:</td>
                        <td>Nothing yet</td>
                    </tr>
                    <tr>
                        <td>Statistics:</td>
                        <td>123/145 shot seasion 18/19 ælasdæl ,asæl, asdæl ,asdæl, asdæl ,asdæl ,asdæl, asædl, asæld,</td>
                    </tr>
                    <tr>
                        <td>Former clubs</td>
                        <td>TM Tønder</td>
                    </tr>
                </table>
                <h1 style="text-align: center; margin-top:50px;">Strengths / Weaknesses</h1>
                <table class="tableFixed">
                    <tr>
                        <td>Strengths</td>
                        <td>Slår gode prutter</td>
                    </tr>
                    <tr>
                        <td>Weaknesses</td>
                        <td>Men de lugter</td>
                    </tr>
                    <tr>
                        <td>Ratings/reference</td>
                        <td>10/10</td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-6" >
                <h1 style="text-align:center; margin-top:30px;">National Team</h1>
                <div style="margin-top:10px;">
                    <button class="accordion">A team statistics</button>
                    <div class="panel">
                        <p>Appearances: 12</p>
                        <p>Position: Left Wing</p>
                        <p>Statistics: 404 goals, 25 assist</p>
                    </div>

                    <button class="accordion">B team statistics</button>
                    <div class="panel">
                        <p>Appearances: N/A</p>
                        <p>Position: N/A</p>
                        <p>Statistics: N/A</p>
                    </div>

                    <button class="accordion">U21 team statistics</button>
                    <div class="panel">
                        <p>Appearances: 30</p>
                        <p>Position: Left Wing</p>
                        <p>Statistics: 10 goals, 1 assist</p>
                    </div>

                    <button class="accordion">U18 team statistics</button>
                    <div class="panel">
                        <p>Appearances: 300</p>
                        <p>Position: Left Wing</p>
                        <p>Statistics: 0 goals, 25 assist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="text-align:center;">Player presentation</h1>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
         
    </section>
    <script src="~/Scripts/multiPage.js"></script>
</body>



