
<body>

    <div class="container-fluid" style="background-color:yellow">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">SportConnectors</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul style="float: right" class="nav navbar-nav">

                        <li><a href="#forPlayers">For Players</a></li>
                        <li><a href="#forClubs">For Clubs</a></li>
                        <li><a href="#aboutUs">About us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container-fluid" style="height: 700px; background-color: red;">
            <div class="row" style="margin-top: 300px">
                <div style="text-align: center" class="col-md-3"></div>
                <div style="text-align: center" class="col-md-3">
                    <a href="">Create an account</a>
                </div>
                <div style="text-align: center" class="col-md-3">
                    <a href="">Login</a>

                </div>
                <div style="text-align: center" class="col-md-3"></div>
            </div>



            <div id="imageDiv" class="row" style="margin-top: 50px">
                <div class="col-md-4" >
                    <img class="responsiveImage" style="height:200px; width:200px; float: right" src="https://www.sportsbrands.dk/wsb-media/images/article/select-handbold-ultimate-replica-ehf-euro-2018-11592-1-pop.jpg" border="0">
                </div>
                <div style="text-align: center" class="col-md-4">
                    <img class="responsiveImage" style="height:200px; width:200px;" src="https://www.sportsbrands.dk/wsb-media/images/article/select-handbold-ultimate-replica-ehf-euro-2018-11592-1-pop.jpg" border="0">
                </div>
                <div class="col-md-4">
                    <img class="responsiveImage" style="height:200px; width:200px; float: left" src="https://www.sportsbrands.dk/wsb-media/images/article/select-handbold-ultimate-replica-ehf-euro-2018-11592-1-pop.jpg" border="0">
                </div>
            </div>

        </section>
        <div id="forPlayers" style="height:50px;">

        </div>
        <section class="container">
            <h1 style="text-align:center;">For Players</h1>
            <div class="row">
                <div class="col-md-6">
                    <div style="word-wrap: break-word">
                        <h2>Information</h2>
                        <p style="padding-right:60px;">
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>How to use</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <h2 style="text-align:center;">Player FAQ</h2>
            <div style="margin-top:10px;">
                <button class="accordion">Question 1</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>

                <button class="accordion">Question 2</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>

                <button class="accordion">Question</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </section>
        <div id="forClubs" style="height:50px;">

        </div>
        <section class="container">
            <h1 style="text-align:center;">For Clubs</h1>
            <div class="row">
                <div class="col-md-6">
                    <div style="word-wrap: break-word">
                        <h2>Information</h2>
                        <p style="padding-right:60px;">
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>How to use</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h2 style="text-align:center;">Club FAQ</h2>
                    <div style="margin-top:10px;">
                        <button class="accordion">Question 1</button>
                        <div class="panel">
                            <p>Lorem ipsum...</p>
                        </div>

                        <button class="accordion">Question 2</button>
                        <div class="panel">
                            <p>Lorem ipsum...</p>
                        </div>

                        <button class="accordion">Question</button>
                        <div class="panel">
                            <p>Lorem ipsum...</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div id="aboutUs" style="height:50px;">

        </div>
        <section>
            <h1 style="text-align:center;">About us</h1>
            <div class="text-center">
                <img class="responsiveImage"src="~/Images/AboutUs.PNG" />
            </div>

        </section>

        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p><p>asdasd</p><p>asdasd</p>

        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>

    </div>

    <script>
        window.addEventListener("scroll", function () {
            if ($(document).scrollTop() > 50) {
                $(".navbar-fixed-top").css("background-color", "#f8f8f8");
                $(".navbar-fixed-top").css("transition", "background-color 300ms linear");
            }
            else {
                $(".navbar-fixed-top").css("background-color", "transparent");
                $(".navbar-fixed-top").css("transition", "background-color 300ms linear");
            }
        });


        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
        });



            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            } 


        $(window).resize(function () {

            if ($(this).width() < 980) {

                $("#imageDiv").hide();

            } else {

                $("#imageDiv").show();

            }

        });
    </script>

</body>