


<body>

    <div style="background-color:purple">
        
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: transparent">
            <div class="container" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">SportConnectors</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul style="float: right" class="nav navbar-nav">
                   
                        <li><a href="">For Players</a></li>
                        <li><a href="">For Clubs</a></li>
                        <li><a href="">About us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="container-fluid" style="height: 700px; background-color: red;">
            <div class="row" style="margin-top: 200px">
                <div style="text-align: center" class="col-md-6">
                    <a href="">Create an account</a>
                </div>
                <div style="text-align: center" class="col-md-6">
                    <a href="">Login</a>

                </div>
            </div>
            


        </section>

        <div class="row">
            <div class="col-md-6">
                <a href="">Sign up</a>
            </div>
            <div class="col-md-6">
                <a href="">Login</a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</body>