
<body>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <div class="container-fluid" style="">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">SportConnectors</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul style="float: right" class="nav navbar-nav">

                        <li><a href="#forPlayers">For Players</a></li>
                        <li><a href="#forClubs">For Clubs</a></li>
                        <li><a href="#aboutUs">About us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="asdasd" class="container-fluid" style="height: 700px;">
            <div id="buttonDiv" class="row" style="margin-top: 300px">
                <div style="text-align: center" class="col-md-3"></div>
                <div style="text-align: center" class="col-md-3">
                    <a class="btn btn-primary btn-lg btn-block" href="" role="button" style="background-color: coral; border-color: coral; margin-top: 10px;">Create an account</a>
                </div>
                <div style="text-align: center" class="col-md-3">
                    <a id="loginButton" class="btn btn-primary btn-lg btn-block" href="#" data-toggle="modal" data-target="#myModal" style="background-color: coral; border-color: coral; margin-top: 10px;">Login</a>

                </div>
                <div style="text-align: center" class="col-md-3"></div>
            </div>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div id="chooseLogin" style="margin-top: 199px;">
                        <h2 style="text-align: center;">Choose Login</h2>
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <a id="playerLogin" href="#"><img src="~/Images/player-icon.png" width="200px;" height="auto;" /></a>
                                <h3>Player</h3>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <a id="clubLogin" href="#"><img src="~/Images/club-icon.png" width="200px;" height="auto;" /></a>
                                <h3>Club</h3>
                            </div>
                        </div>
                    </div>
                    <div id="playerLoginBox" class="box" hidden>
                        <h1>Player Login</h1>
                        <form name="PlayerLogin" method="post" action="">
                            <label id="icon" for="name"><i class="icon-envelope "></i></label>
                            <input autocomplete="off" name="email" pattern="[a-zA-ZæøåÆØÅ0-9._%+-]+@(" @")[a-zA-ZæøåÆØÅ0-9.-]+\.[a-z]{2,}$" type="email" id="name" placeholder="E-mail" required oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
                            <label id="icon" for="name"><i class="icon-shield"></i></label>
                            <input autocomplete="off" name="password" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-ZÆØÅ])(?=.*[a-zæøå]).*$" id="name" placeholder="Password" required oninvalid="this.setCustomValidity('Indtast minimum 8 tegn med tal, store og små bogstaver.')" oninput="setCustomValidity('')" />
                            <input type="submit" value="Login" class="loginbutton" />
                            <h2>Login with facebook</h2>
                            <a href="">Forgot password?</a>
                        </form>
                    </div>
                    <div id="clubLoginBox" class="box" hidden>
                        <h1>Club Login</h1>
                        <form name="ClubLogin" method="post" action="">
                            <label id="icon" for="name"><i class="icon-envelope "></i></label>
                            <input autocomplete="off" name="email" pattern="[a-zA-ZæøåÆØÅ0-9._%+-]+@(" @")[a-zA-ZæøåÆØÅ0-9.-]+\.[a-z]{2,}$" type="email" id="name" placeholder="E-mail" required oninvalid="this.setCustomValidity('Indtast en mailadresse')" oninput="setCustomValidity('')" />
                            <label id="icon" for="name"><i class="icon-shield"></i></label>
                            <input autocomplete="off" name="password" type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-ZÆØÅ])(?=.*[a-zæøå]).*$" id="name" placeholder="Password" required oninvalid="this.setCustomValidity('Indtast minimum 8 tegn med tal, store og små bogstaver.')" oninput="setCustomValidity('')" />
                            <input type="submit" value="Login" class="loginbutton" />
                            <a href="">Forgot password?</a>
                        </form>
                    </div>
                </div>
            </div>





            <div id="imageDiv" class="row" style="margin-top: 50px">
                <div class="col-md-4">
                    <img class="responsiveImage visible-lg" style="height:200px; width:200px; float: right" src="~/Images/football-icon.png" border="0">
                </div>
                <div style="text-align: center" class="col-md-4 visible-lg">
                    <img class="responsiveImage" style="height:200px; width:200px;" src="~/Images/volleyball-icon.png" border="0">
                </div>
                <div class="col-md-4">
                    <img class="responsiveImage visible-lg" style="height:200px; width:200px; float: left" src="~/Images/basketball-icon.png" border="0">
                </div>
            </div>

        </section>
        <div id="forPlayers" style="height:50px;">

        </div>
        <section class="container">
            <h1 style="text-align:center;">For Players</h1>
            <div class="row">
                <div class="col-md-6">
                    <div style="word-wrap: break-word">
                        <h2>Information</h2>
                        <p style="padding-right:60px;">
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>How to use</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <h2 style="text-align:center;">Player FAQ</h2>
            <div style="margin-top:10px;">
                <button class="accordion">Question 1</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>

                <button class="accordion">Question 2</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>

                <button class="accordion">Question</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </section>
        <div id="forClubs" style="height:50px;">

        </div>
        <section class="container">
            <h1 style="text-align:center;">For Clubs</h1>
            <div class="row">
                <div class="col-md-6">
                    <div style="word-wrap: break-word">
                        <h2>Information</h2>
                        <p style="padding-right:60px;">
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkmkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                            lkmadlkmasdlmasdmklaslkdmlaksdmlkasdaskmdlkasmdlkm
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>How to use</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h2 style="text-align:center;">Club FAQ</h2>
                    <div style="margin-top:10px;">
                        <button class="accordion">Question 1</button>
                        <div class="panel">
                            <p>Lorem ipsum...</p>
                        </div>

                        <button class="accordion">Question 2</button>
                        <div class="panel">
                            <p>Lorem ipsum...</p>
                        </div>

                        <button class="accordion">Question</button>
                        <div class="panel">
                            <p>Lorem ipsum...</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div id="aboutUs" style="height:50px;">

        </div>
        <section>
            <h1 style="text-align:center;">About us</h1>
            <div class="text-center">
                <img class="responsiveImage" src="~/Images/AboutUs.PNG" />
            </div>

        </section>

        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p><p>asdasd</p><p>asdasd</p>

        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>

    </div>
    <script>
        window.addEventListener("scroll", function () {
            if ($(document).scrollTop() > 50) {
                $(".navbar-fixed-top").css("background-color", "#f8f8f8");
                $(".navbar-fixed-top").css("transition", "background-color 300ms linear");
            }
            else {
                $(".navbar-fixed-top").css("background-color", "transparent");
                $(".navbar-fixed-top").css("transition", "background-color 300ms linear");
            }
        });


        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
        });



        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }


        $(window).resize(function () {

            if ($(this).width() < 980) {

                $("#imageDiv").hide();

            } else {

                $("#imageDiv").show();

            }

        });


        $('.navbar-collapse a').click(function () {
            $(".navbar-collapse").collapse('hide');
        });

        $('#loginButton').click(function () {
            $('#imageDiv').hide();
            $('#buttonDiv').hide();
        });

        $('#myModal').on('hidden.bs.modal', function () {
            $('#imageDiv').show();
            $('#buttonDiv').show();
            $('#playerLoginBox').hide();
            $('#clubLoginBox').hide();
            $('#chooseLogin').show();
        });

        $('#playerLogin').click(function () {
            $('#chooseLogin').hide();
            $('#playerLoginBox').show();
        });

        $('#clubLogin').click(function () {
            $('#chooseLogin').hide();
            $('#clubLoginBox').show();
        });
    </script>

</body>