
<body>

    <div class="container-fluid" style="background-color:purple">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">SportConnectors</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul style="float: right" class="nav navbar-nav">

                        <li><a href="">For Players</a></li>
                        <li><a href="">For Clubs</a></li>
                        <li><a href="">About us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container-fluid" style="height: 700px; background-color: red;">
            <div class="row" style="margin-top: 300px">
                <div style="text-align: center" class="col-md-3"></div>
                <div style="text-align: center" class="col-md-3">
                    <a href="">Create an account</a>
                </div>
                <div style="text-align: center" class="col-md-3">
                    <a href="">Login</a>

                </div>
                <div style="text-align: center" class="col-md-3"></div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-md-4">
                    <img style="height:200px; width:200px; float: right" src="https://www.sportsbrands.dk/wsb-media/images/article/select-handbold-ultimate-replica-ehf-euro-2018-11592-1-pop.jpg" border="0">
                </div>
                <div style="text-align: center" class="col-md-4">
                    <img style="height:200px; width:200px;" src="https://www.sportsbrands.dk/wsb-media/images/article/select-handbold-ultimate-replica-ehf-euro-2018-11592-1-pop.jpg" border="0">
                </div>
                <div class="col-md-4">
                    <img style="height:200px; width:200px; float: left" src="https://www.sportsbrands.dk/wsb-media/images/article/select-handbold-ultimate-replica-ehf-euro-2018-11592-1-pop.jpg" border="0">
                </div>
            </div>

        </section>

        <h2>asdasd</h2>
        <h2>asdasd</h2>
        <h2>asdasd</h2>
        <h2>asdasd</h2>
        <h2>asdasd</h2>
        <h2>asdasd</h2>
        <h2>asdasd</h2>
        <h2>asdasd</h2>

    </div>
    <script>
        window.addEventListener("scroll", function () {
            if ($(document).scrollTop() > 50) {
                $(".navbar-fixed-top").css("background-color", "#f8f8f8");
                $(".navbar-fixed-top").css("transition", "background-color 300ms linear");
            }
            else {
                $(".navbar-fixed-top").css("background-color", "transparent");
                $(".navbar-fixed-top").css("transition", "background-color 300ms linear");
            }
        });
    </script>
</body>