
@{
    ViewBag.Title = "SearchForClubs";
}

<section>
    @*@foreach (var item in collection) {

        }*@
    <a href="" style="color: inherit;">
        <div class="row searchRows">
            <div class="col-md-3 " style="text-align:center;">
                <img src="~/Images/basketball-icon.png" height="150" width="150" />
                <h3 style="word-wrap: break-word;">TTH Holstebro</h3>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <div class="circle">90%</div>
            </div>
        </div>
    </a>


</section>
