@{
    ViewBag.Title = "Player Dashboard";
}

<body>
    <section class="container-fluid" style="width:100%; ">
        <div class="row">
            <div class="col-sm-4" style=" text-align: center;">
                <img src="~/Images/basketball-icon.png" height="175" width="175" />
                <h2>Rune Baun Andersen</h2>

            </div>
            <div class="col-sm-4" style="margin-top:16px;" >
                <table style="margin: 0 auto; table-layout: fixed; width:90%">
                    <tr>
                        <td style="padding-top:15.231px;">Date of birth:</td>
                        <td style="padding-top:15.231px; ">12/12/1995</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Nationality:</td>
                        <td style="padding-top:15.231px; ">Denmark</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Position:</td>
                        <td style="padding-top:15.231px; ">Left wing</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Contract status:</td>
                        <td style="padding-top:15.231px; ">Active</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Current wage:</td>
                        <td style="padding-top:15.231px; ">250.000 DKK</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4"  style="margin-top:16px;">
                <table style="margin: 0 auto; table-layout: fixed; width:90%">
                    <tr>
                        <td style="padding-top:15.231px;">Height:</td>
                        <td style="padding-top:15.231px; ">193 cm</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Weight:</td>
                        <td style="padding-top:15.231px; ">100 kg</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Bodyfat:</td>
                        <td style="padding-top:15.231px; ">90 %</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Preferred hand:</td>
                        <td style="padding-top:15.231px; ">Right</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Injury status:</td>
                        <td style="padding-top:15.231px; ">Knee injury</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-6" >
                <h1 style="text-align:center; margin-top:30px;">Sport CV</h1>
                <table style="margin: 0 auto; table-layout: fixed; width:90%">
                    <tr>
                        <td style="padding-top:15.231px;">Current Club</td>
                        <td style="padding-top:15.231px; ">TTH Holstebro</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Position</td>
                        <td style="padding-top:15.231px; ">Left wing</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Accomplishment:</td>
                        <td style="padding-top:15.231px; ">Nothing yet</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Statistics:</td>
                        <td style="padding-top:15.231px; ">123/145 shot seasion 18/19 ælasdæl ,asæl, asdæl ,asdæl, asdæl ,asdæl ,asdæl, asædl, asæld,</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Former clubs</td>
                        <td style="padding-top:15.231px;">TM Tønder</td>
                    </tr>
                </table>
                <h1 style="text-align: center; margin-top:50px;">Strengths / Weaknesses</h1>
                <table style="margin: 0 auto; table-layout: fixed; width:90%">
                    <tr>
                        <td style="padding-top:15.231px;">Strengths</td>
                        <td style="padding-top:15.231px;">Slår gode prutter</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Weaknesses</td>
                        <td style="padding-top:15.231px;">Men de lugter</td>
                    </tr>
                    <tr>
                        <td style="padding-top:15.231px;">Ratings/reference</td>
                        <td style="padding-top:15.231px;">10/10</td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-6" >
                <h1 style="text-align:center; margin-top:30px;">National Team</h1>
                <div style="margin-top:10px;">
                    <button class="accordion">A team statistics</button>
                    <div class="panel">
                        <p>Appearances: 12</p>
                        <p>Position: Left Wing</p>
                        <p>Statistics: 404 goals, 25 assist</p>
                    </div>

                    <button class="accordion">B team statistics</button>
                    <div class="panel">
                        <p>Appearances: N/A</p>
                        <p>Position: N/A</p>
                        <p>Statistics: N/A</p>
                    </div>

                    <button class="accordion">U21 team statistics</button>
                    <div class="panel">
                        <p>Appearances: 30</p>
                        <p>Position: Left Wing</p>
                        <p>Statistics: 10 goals, 1 assist</p>
                    </div>

                    <button class="accordion">U18 team statistics</button>
                    <div class="panel">
                        <p>Appearances: 300</p>
                        <p>Position: Left Wing</p>
                        <p>Statistics: 0 goals, 25 assist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="text-align:center;">Player presentation</h1>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSe2j-izIWY" frameborder="0" allow="accelerometer; autoplay;
                                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
         
    </section>
    <script src="~/Scripts/multiPage.js"></script>
</body>



