<div style="height: 15px;"></div>
<section class="custom-container forPlayerClubBackgroundColor">
  <h1 style="text-align:center; font-family: 'Fresno';">About us</h1>
  <div class="text-center">
      <h2 style="font-weight: 300"><u>Business Team</u></h2>
      <img class="responsiveImage" src="../../../assets/Images/BusinessTeamIcon.png" style="margin-bottom: 0px" />
      </div>
  <div class="row">
    <div class="col-md-4" style="text-align:center">
      <img class="responsiveImage" src="../../../assets/Images/Christian.png" />
      <h2><b>Christian Albertsen</b></h2>
      <p id="Kvalifikationer"><i>Former professional handball player</i></p>
      <p name="Styrke"><i>Network & knowledge within the industry</i></p>
      </div>

    <div class="col-md-4" style="text-align:center">
        <img class="responsiveImage" src="../../../assets/Images/Andreas.png" />
        <h2><b>Andreas Henriksen</b></h2>
        <p id="Kvalifikationer"><i>Cand.merc.IT</i></p>
        <p name="Styrke"><i>BIG DO'ER</i></p>
      </div>

    <div class="col-md-4" style="text-align:center">
        <img class="responsiveImage" src="../../../assets/Images/Søren.png" />
        <h2><b>Søren Kring</b></h2>
        <p id="Kvalifikationer"><i>Cand.merc.Jur</i></p>
        <p name="Styrke"><i>Speciality in contract negotiation</i></p>
      </div>
  </div>
</section>
<div style="height: 15px;"></div>
