<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- REQUIRED CLUB INFO -->
  <mat-step [stepControl]="clubRequiredInfoFormGroup">
    <form [formGroup]="clubRequiredInfoFormGroup">
      <p>All of these fields are <strong>required</strong>. Please make sure to fill them all out.</p>
      <hr>

      <mat-label>Login credentials</mat-label>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="emailControl?.hasError('email') && !emailControl?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
          [formControl]="passwordControl" [errorStateMatcher]='validate'>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordControl?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="passwordControl?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <mat-label>Club info</mat-label><br>
      <mat-form-field>
        <input matInput placeholder="Club name" [formControl]="clubNameControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="clubNameControl?.hasError('required')">
          Club name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="League" [formControl]="leagueControl" [errorStateMatcher]="validate">
          <mat-option value="firstLeague">First league name</mat-option>
          <mat-option value="secondLeague">Second league name</mat-option>
          <mat-option value="thirdLeague">Third league name</mat-option>
        </mat-select>
        <mat-error *ngIf="leagueControl?.hasError('required')">
          League is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <mat-label>Address</mat-label><br>
      <mat-form-field>
        <input matInput placeholder="Street Address" [formControl]="streetAddressControl"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetAddressControl?.hasError('required')">
          Street address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street Number" [formControl]="streetNumberControl"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetNumberControl?.hasError('pattern') && !streetNumber?.hasError('required')">
          Street number must be a number
        </mat-error>
        <mat-error *ngIf="streetNumberControl?.hasError('required')">
          Please put number on this line
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Country" [formControl]="countryControl" [errorStateMatcher]="validate">
          <mat-option value="Denmark">Denmark</mat-option>
          <mat-option value="Sweden">Sweden</mat-option>
          <mat-option value="Norway">Norway</mat-option>
        </mat-select>
        <mat-error *ngIf="countryControl?.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="City" [formControl]="cityControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="cityControl?.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Zipcode" [formControl]="zipcodeControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="zipcodeControl?.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <hr><br>
      <button mat-flat-button matStepperNext class="btn btn-primary firstNextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB TRAINING SCHEDULE -->
  <mat-step [stepControl]="trainingScheduleFormGroup">
    <form [formGroup]="trainingScheduleFormGroup">
      <p>All of these fields are <strong>optional</strong>. Filling these fields out will greatly increase your view
        rate.</p>
      <hr>

      <mat-label>Regular Training Hours</mat-label><br>
      <div class="row">
        <div class="col-xs-6">
          <br>
          <mat-label>Monday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularMondayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularMondayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Wednesday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularWednesdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularWednesdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Friday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularFridayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularFridayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Sunday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularSundayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularSundayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
        </div>
        <div class="col-xs-6">
          <br>
          <mat-label>Tuesday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularTuesdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularTuesdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Thursday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularThursdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularThursdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Saturday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularSaturdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'regularSaturdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
        </div>
      </div>

      <br><br>
      <mat-label>Fitness Training Hours</mat-label><br>
      <mat-hint>Leave blank for rest days</mat-hint>
      <div class="row">
        <div class="col-xs-6">
          <br>
          <mat-label>Monday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessMondayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessMondayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Wednesday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessWednesdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessWednesdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Friday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessFridayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessFridayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Sunday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessSundayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessSundayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
        </div>
        <div class="col-xs-6">
          <br>
          <mat-label>Tuesday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessTuesdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessTuesdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Thursday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessThursdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessThursdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Saturday</mat-label><br>
          <app-training-hours-from
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessSaturdayFromControl'" 
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to
            [group]="trainingScheduleFormGroup" 
            [controlName]="'fitnessSaturdayToControl'" 
            [matcher]="validate">
          </app-training-hours-to>
        </div>
      </div>
      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB SQUAD -->
  <mat-step [stepControl]="clubSquadFormGroup">
    <form [formGroup]="clubSquadFormGroup">
      <p>All of these fields are <strong>optional</strong>. Filling these fields out will greatly increase your view
        rate.</p>
      <hr>

      <mat-label>Add player to Squad</mat-label><br>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Player name" formControlName="playerNameControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Position" formControlName="playerPositionControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Shirt number" formControlName="shirtNumberControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <button class="btn btn-success addPlayerButton" (click)="onAddPlayerToSquad()">Add</button><br>

      <mat-label>Squad List</mat-label><br>
      <mat-hint>Add players above</mat-hint>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <!-- Shirt Number Column -->
          <ng-container matColumnDef="shirtNumber">
            <th mat-header-cell *matHeaderCellDef> Shirt # </th>
            <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.shirtNumber}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.position}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB STAFF -->
  <mat-step [stepControl]="clubStaffFormGroup">
    <form [formGroup]="clubStaffFormGroup">
      <p>All of these fields are <strong>optional</strong>. Filling these fields out will greatly increase your view
        rate.</p>
      <hr>

      <mat-label>Technical Staff</mat-label>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Trainer" formControlName="trainerControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Assistant Trainer" formControlName="assistantTrainerControl"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Physiotherapist" formControlName="physiotherapistControl"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Assistant Physiotherapist" formControlName="assistantPhysiotherapistControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Team Manager" formControlName="managerControl" [errorStateMatcher]="validate">
      </mat-form-field>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>

   <!-- VALUES AND PREFERENCES -->
  <mat-step [stepControl]="valuesAndPreferencesFormGroup">
    <form [formGroup]="valuesAndPreferencesFormGroup">
      <p>All of these fields are <strong>optional</strong>. Filling these fields out will greatly increase your view
        rate.</p>
      <hr>

      <mat-form-field>
        <textarea matInput placeholder="Fill out your values..." matTextareaAutosize matAutosizeMinRows="10"
          matAutosizeMaxRows="10" formControlName="valuesControl" [errorStateMatcher]='validate'></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Fill out your preferences..." matTextareaAutosize matAutosizeMinRows="10"
          matAutosizeMaxRows="10" formControlName="preferencesControl" [errorStateMatcher]='validate'></textarea>
      </mat-form-field>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn" (click)="registerClub()">Register</button>
    </form>
  </mat-step>

  <!-- CLUB PICTURES -->
  <mat-step [stepControl]="clubPicturesFormGroup">
    <form [formGroup]="clubPicturesFormGroup">
      <p>Add pictures of your club logo and training facilities. This is <strong>optional</strong>, but recommended.</p>
      <hr>

      <div class="row">
        <div class="col-xs-6">
          <mat-label>Upload club logo</mat-label>
          <br>
          <mat-form-field class="doubleSizeField">
            <ngx-mat-file-input #clubLogo formControlName="clubLogoControl" (change)="onClubLogoSelected($event)"
              placeholder="Upload club logo" accept="image/*"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!clubLogo.empty" (click)="clubLogo.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <br>
          <button class="btn btn-primary chooseFileBtn" (click)="clubLogo.open()">Choose File</button>
        </div>

        <div class="col-xs-6">
          <mat-label>Upload facility pictures</mat-label>
          <br>
          <mat-form-field class="doubleSizeField">
            <ngx-mat-file-input #facilityPictures formControlName="facilityPicturesControl" [multiple]="true"
              (change)="onFacilityPicturesSelected($event)" placeholder="Upload facility pictures" accept="image/*">
            </ngx-mat-file-input>
            <mat-hint>Ctrl + click to select multiple files</mat-hint>
            <button mat-icon-button matSuffix *ngIf="!facilityPictures.empty" (click)="facilityPictures.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <br>
          <button class="btn btn-primary chooseFileBtn" (click)="facilityPictures.open()">Choose File</button>
        </div>
      </div>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>

  <!-- LAST STEP -->
  <mat-step>
    <h1 class="lastStepHeadline">
      Thank you!
    </h1>
    <p class="lastStepInfo">
      Your account has now been registered. A confirmation mail has been sent to {{ emailControl.value }}.
      <br>
      Please click the link in the email to confirm your email.
    </p>
    <hr>

    <button mat-flat-button class="btn btn-primary doneBtn" (click)="modalRef.hide()">Done</button>
  </mat-step>
</mat-horizontal-stepper>