<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- REQUIRED CLUB INFO -->
  <mat-step [stepControl]="clubRequiredInfoFormGroup">
    <form [formGroup]="clubRequiredInfoFormGroup">
      <h2>Club information</h2>
      <br>
      <p>
        All of these fields are <strong>required</strong>.
        <br>
        Please fill out the fields before you continue.
      </p>
      <hr>

      <mat-label>Login credentials</mat-label>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="emailControl?.hasError('email') && !emailControl?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
          [formControl]="passwordControl" [errorStateMatcher]='validate'>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordControl?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="passwordControl?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <mat-label>Club info</mat-label><br>
      <mat-form-field>
        <input matInput placeholder="Club name" [formControl]="clubNameControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="clubNameControl?.hasError('required')">
          Club name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="League" [formControl]="leagueControl" [errorStateMatcher]="validate">
          <mat-option value="First League">First League</mat-option>
          <mat-option value="Second League">Second League</mat-option>
          <mat-option value="Third League">Third League</mat-option>
        </mat-select>
        <mat-error *ngIf="leagueControl?.hasError('required')">
          League is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <mat-label>Address</mat-label><br>
      <mat-form-field>
        <input matInput placeholder="Street Address" [formControl]="streetAddressControl"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="streetAddressControl?.hasError('required')">
          Street address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street Number" [formControl]="streetNumberControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="streetNumberControl?.hasError('pattern') && !streetNumber?.hasError('required')">
          Street number must be a number
        </mat-error>
        <mat-error *ngIf="streetNumberControl?.hasError('required')">
          Please put number on this line
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Country" [formControl]="countryControl" [errorStateMatcher]="validate">
          <mat-option value="Denmark">Denmark</mat-option>
          <mat-option value="Sweden">Sweden</mat-option>
          <mat-option value="Norway">Norway</mat-option>
        </mat-select>
        <mat-error *ngIf="countryControl?.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="City" [formControl]="cityControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="cityControl?.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Zipcode" [formControl]="zipcodeControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="zipcodeControl?.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <hr><br>
      <button mat-flat-button matStepperNext class="btn btn-primary firstNextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB TRAINING SCHEDULE -->
  <mat-step [stepControl]="trainingScheduleFormGroup">
    <form [formGroup]="trainingScheduleFormGroup">
      <h2 class="stepHeadline">Training Schedule</h2>
      <p>
        If you have specific training hours, please fill out the following fields.
        <br>
        This is <strong>optional</strong>, but recommended for at least handball training hours.
      </p>
      <hr>

      <mat-label>Handball Training Hours</mat-label><br>
      <mat-hint>Leave blank for rest days</mat-hint>
      <div class="row">
        <div class="col-xs-6">
          <br>
          <mat-label>Monday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularMondayFromControl'"
            [matcher]="validate"></app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularMondayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Wednesday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularWednesdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularWednesdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Friday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularFridayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularFridayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Sunday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularSundayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularSundayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
        </div>
        <div class="col-xs-6">
          <br>
          <mat-label>Tuesday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularTuesdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularTuesdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Thursday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularThursdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularThursdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Saturday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'regularSaturdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'regularSaturdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
        </div>
      </div>

      <br><br>
      <mat-label>Fitness Training Hours</mat-label><br>
      <mat-hint>Leave blank for rest days</mat-hint>
      <div class="row">
        <div class="col-xs-6">
          <br>
          <mat-label>Monday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessMondayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessMondayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Wednesday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessWednesdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessWednesdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Friday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessFridayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessFridayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Sunday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessSundayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessSundayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
        </div>
        <div class="col-xs-6">
          <br>
          <mat-label>Tuesday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessTuesdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessTuesdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br>
          <br>
          <mat-label>Thursday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessThursdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessThursdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
          <br><br>
          <mat-label>Saturday</mat-label><br>
          <app-training-hours-from [group]="trainingScheduleFormGroup" [controlName]="'fitnessSaturdayFromControl'"
            [matcher]="validate">
          </app-training-hours-from>
          <app-training-hours-to [group]="trainingScheduleFormGroup" [controlName]="'fitnessSaturdayToControl'"
            [matcher]="validate">
          </app-training-hours-to>
        </div>
      </div>
      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB SQUAD -->
  <mat-step [stepControl]="clubSquadFormGroup">
    <form [formGroup]="clubSquadFormGroup">
      <h2 class="stepHeadline">Current Squad</h2>
      <p>
        Add your squad for the current season. 
        <br>
        This is <strong>optional</strong>.
      </p>
      <hr>

      <mat-label>Add player to current Squad</mat-label><br>
      <mat-hint>Fill out all fields to add a player</mat-hint><br>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Player name" formControlName="playerNameControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <mat-select placeholder="Position" formControlName="playerPositionControl" [errorStateMatcher]='validate'>
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Shirt number" formControlName="shirtNumberControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Shirt number must be a number
        </mat-error>
      </mat-form-field>
      <button class="btn btn-success addPlayerButton" (click)="onAddPlayerToSquad()">Add</button><br>

      <mat-label>Squad List</mat-label><br>
      <mat-hint>Add players above</mat-hint>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Shirt Number Column -->
        <ng-container matColumnDef="shirtNumber">
          <th mat-header-cell *matHeaderCellDef> Shirt # </th>
          <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.shirtNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let squadPlayer"> {{squadPlayer.position}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB NEXT YEAR SQUAD -->
  <mat-step [stepControl]="nextYearSquadFormGroup">
    <form [formGroup]="nextYearSquadFormGroup">
      <h2 class="stepHeadline">Next Season Squad</h2>
      <p>
        Add your squad for the next season. 
        <br>
        This is <strong>optional</strong>.
      </p>
      <hr>

      <mat-label>Add player to next year Squad</mat-label><br>
      <mat-hint>Fill out all fields to add a player</mat-hint><br>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Player name" formControlName="playerNameControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <mat-select placeholder="Position" formControlName="playerPositionControl" [errorStateMatcher]='validate'>
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addPlayerFields">
        <input matInput placeholder="Shirt number" formControlName="shirtNumberControl" [errorStateMatcher]="validate">
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Shirt number must be a number
        </mat-error>
      </mat-form-field>
      <button class="btn btn-success addPlayerButton" (click)="onAddPlayerToNextYearSquad()">Add</button><br>

      <mat-label>Squad List</mat-label><br>
      <mat-hint>Add players above</mat-hint>
      <table mat-table [dataSource]="nextYearSquadSource" class="mat-elevation-z8">

        <!-- Shirt Number Column -->
        <ng-container matColumnDef="shirtNumber">
          <th mat-header-cell *matHeaderCellDef> Shirt # </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer"> {{nextYearSquadPlayer.shirtNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer"> {{nextYearSquadPlayer.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer"> {{nextYearSquadPlayer.position}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nextYearSquadColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: nextYearSquadColumns;"></tr>
      </table>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- OPEN POSITIONS -->
  <mat-step [stepControl]="openPositionsFormGroup">
    <form [formGroup]="openPositionsFormGroup">
      <h2 class="stepHeadline">Open Positions</h2>
      <br>
      <p>
        If you have any open positions for this season or the next, make sure to add them down below.
        <br>
        This is <strong>optional</strong>, but highly recommended to optimize the search results, when looking for a player.
      </p>
      <hr>

      <mat-label>Open positions</mat-label><br>
      <mat-hint>Fill out at least the position to add an open position</mat-hint><br>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Position" formControlName="openPositionName" [errorStateMatcher]="validate">
          <mat-option value="Goalkeeper">Goalkeeper</mat-option>
          <mat-option value="Left wing">Left wing</mat-option>
          <mat-option value="Left back">Left back</mat-option>
          <mat-option value="Playmaker">Playmaker</mat-option>
          <mat-option value="Pivot">Pivot</mat-option>
          <mat-option value="Right back">Right back</mat-option>
          <mat-option value="Right wing">Right wing</mat-option>
          <mat-option value="Defence">Defence</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="League" formControlName="openPositionLeague" [errorStateMatcher]='validate'>
          <mat-option value="First League">First League</mat-option>
          <mat-option value="Second League">Second League</mat-option>
          <mat-option value="Third League">Third League</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Season" formControlName="openPositionSeason" [errorStateMatcher]="validate">
          <mat-option value="Current year">Current Season</mat-option>
          <mat-option value="Next year">Next Season</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Contract Status" formControlName="openPositionContract" [errorStateMatcher]='validate'>
          <mat-option value="None">None</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Open for Offers">Open for Offers</mat-option>
          <mat-option value="Contract Expired">Contract Expired</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="fourFieldsOnSameRow">
        <input matInput placeholder="Minimum Age" formControlName="openPositionMinAge" [errorStateMatcher]='validate'>
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Age must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <input matInput placeholder="Maximum Age" formControlName="openPositionMaxAge" [errorStateMatcher]='validate'>
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Age must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <input matInput placeholder="Height" formControlName="openPositionHeight" [errorStateMatcher]='validate'>
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Height must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="fourFieldsOnSameRow">
        <mat-select placeholder="Hand Preference" formControlName="openPositionHand" [errorStateMatcher]='validate'>
          <mat-option value="None">No Preference</mat-option>
          <mat-option value="Right">Right Hand</mat-option>
          <mat-option value="Left">Left Hand</mat-option>
          <mat-option value="Both">Both Hands</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-checkbox #openPositionSpeedy value="Speedy">Speedy</mat-checkbox>
      <mat-checkbox #openPositionAthletic value="Athletic">Athletic</mat-checkbox>
      <mat-checkbox #openPositionGreatShape value="Great shape">Great shape</mat-checkbox>
      <mat-checkbox #openPositionQuickShots value="Quick shots">Quick shots</mat-checkbox>
      <mat-checkbox #openPositionAccurateShooter value="Accurate shooter">Accurate shooter</mat-checkbox>
      <mat-checkbox #openPositionTactical value="Tactical">Tactical</mat-checkbox>
      <mat-checkbox #openPositionTeamplayer value="Teamplayer">Team player</mat-checkbox>
      <mat-checkbox #openPositionSocial value="Social">Social</mat-checkbox>
      <mat-checkbox #openPositionWinAtAllCosts value="Win at all costs">Win at all costs</mat-checkbox>
      <mat-checkbox #openPositionLongRangeShooter value="Long range shooter">Long range shooter</mat-checkbox>

      <br><br>
      <button class="btn btn-success" (click)="onAddJobPosition()">Add</button><br><br><br>

      <mat-label>Open positions</mat-label><br>
      <mat-hint>Add open positions above</mat-hint>
      <table mat-table [dataSource]="openPositionSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.position}} </td>
        </ng-container>

        <!-- League Column -->
        <ng-container matColumnDef="League">
          <th mat-header-cell *matHeaderCellDef> League </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.leauge}} </td>
        </ng-container>

        <!-- Hand Column -->
        <ng-container matColumnDef="Hand">
          <th mat-header-cell *matHeaderCellDef> Hand </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.preferredHand}} </td>
        </ng-container>

        <!-- Height Column -->
        <ng-container matColumnDef="Height">
          <th mat-header-cell *matHeaderCellDef> Height </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.height}} </td>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="Age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.minAge}} - {{jobPosition.maxAge}} </td>
        </ng-container>

        <!-- Season Column -->
        <ng-container matColumnDef="Season">
          <th mat-header-cell *matHeaderCellDef> Season </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.season}}</td>
        </ng-container>

        <!-- Contract Column -->
        <ng-container matColumnDef="Contract">
          <th mat-header-cell *matHeaderCellDef> Contract </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.contractStatus}} </td>
        </ng-container>

        <!-- Strengths Column -->
        <ng-container matColumnDef="Strengths">
          <th mat-header-cell *matHeaderCellDef> Strengths </th>
          <td mat-cell *matCellDef="let jobPosition"> {{jobPosition.strengthsList.length}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="openPositionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: openPositionColumns;"></tr>
      </table>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>

  <!-- CLUB STAFF -->
  <mat-step [stepControl]="clubStaffFormGroup">
    <form [formGroup]="clubStaffFormGroup">
      <h2 class="stepHeadline">Staff</h2>
      <p>
        It is recommended to fill out your club staff, but is <strong>optional</strong>.
      </p>
      <hr>

      <mat-label>Technical Staff</mat-label>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Trainer" formControlName="trainerControl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Assistant Trainer" formControlName="assistantTrainerControl"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Physiotherapist" formControlName="physiotherapistControl"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Assistant Physiotherapist" formControlName="assistantPhysiotherapistControl"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field class="doubleSizeField">
        <input matInput placeholder="Team Manager" formControlName="managerControl" [errorStateMatcher]="validate">
      </mat-form-field>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- VALUES AND PREFERENCES -->
  <mat-step [stepControl]="valuesAndPreferencesFormGroup">
    <form [formGroup]="valuesAndPreferencesFormGroup">
      <h2 class="stepHeadline">Values and Preferences</h2>
      <p>
        Filling out your values and preferences is <strong>optional</strong>, but will improve your 
        matches with players.
      </p>
      <hr>

      <div class="row">
        <div class="col-xs-6">
          <mat-label>Values</mat-label><br>
          <mat-checkbox #hardWorking value="Hard working">Hard Working</mat-checkbox><br>
          <mat-checkbox #socialCohesion value="Social cohesion">Social Cohesion</mat-checkbox><br>
          <mat-checkbox #winningMentality value="Winning mentality">Winning Mentality</mat-checkbox><br>
          <br><br>
        </div>
        <div class="col-xs-6">
          <mat-label>Preferences</mat-label><br>
          <mat-checkbox #talentDevelopmentClub value="Talent development club">Talent Development Club</mat-checkbox><br>
          <mat-checkbox #strivesForTitles value="Strives for titles">Strives for Titles</mat-checkbox><br>
          <mat-checkbox #resultOriented value="Result oriented">Result Oriented</mat-checkbox><br>
          <mat-checkbox #processOriented value="Process oriented">Process Oriented</mat-checkbox><br>
          <br><br>
        </div>
      </div>
      <div class="row">
        <mat-form-field>
          <textarea matInput placeholder="Describe your values..." matTextareaAutosize matAutosizeMinRows="10"
            matAutosizeMaxRows="10" formControlName="valuesControl" [errorStateMatcher]='validate'></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Describe your preferences..." matTextareaAutosize matAutosizeMinRows="10"
            matAutosizeMaxRows="10" formControlName="preferencesControl" [errorStateMatcher]='validate'></textarea>
        </mat-form-field>
      </div>


      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn">Next</button>
    </form>
  </mat-step>


  <!-- CLUB PICTURES -->
  <mat-step [stepControl]="clubPicturesFormGroup">
    <form [formGroup]="clubPicturesFormGroup">
      <h2 class="stepHeadline">Pictures</h2>
      <p>
        Please upload your club logo and pictures of your facilities.
        <br>
        This could be of your fitness, handball court or other relevant pictures.
      </p>
      <hr>

      <div class="row">
        <div class="col-xs-6">
          <mat-label>Upload club logo</mat-label>
          <br>
          <mat-form-field class="doubleSizeField">
            <ngx-mat-file-input #clubLogo formControlName="clubLogoControl" (change)="onClubLogoSelected($event)"
              placeholder="Upload club logo" accept="image/*"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!clubLogo.empty" (click)="clubLogo.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <br>
          <button class="btn btn-primary chooseFileBtn" (click)="clubLogo.open()">Choose File</button>
        </div>

        <div class="col-xs-6">
          <mat-label>Upload facility pictures</mat-label>
          <br>
          <mat-form-field class="doubleSizeField">
            <ngx-mat-file-input #facilityPictures formControlName="facilityPicturesControl" [multiple]="true"
              (change)="onFacilityPicturesSelected($event)" placeholder="Upload facility pictures" accept="image/*">
            </ngx-mat-file-input>
            <mat-hint>Ctrl + click to select multiple files</mat-hint>
            <button mat-icon-button matSuffix *ngIf="!facilityPictures.empty" (click)="facilityPictures.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <br>
          <button class="btn btn-primary chooseFileBtn" (click)="facilityPictures.open()">Choose File</button>
        </div>
      </div>

      <br>
      <hr><br>
      <button mat-flat-button matStepperPrevious class="btn btn-primary previousBtn">Previous</button>
      <button mat-flat-button matStepperNext class="btn btn-primary nextBtn" (click)="registerClub()">Register</button>
    </form>
  </mat-step>

  
  <!-- LAST STEP -->
  <mat-step>
    <div *ngIf="errorMessage === ''">
      <h1 class="stepHeadline lastStepHeadline">
        Thank you!
      </h1>
      <p class="lastStepInfo">
        Your account has now been registered. A confirmation mail has been sent to {{ emailControl.value }}.
        <br>
        Please click the link in the email to confirm your email.
      </p>
    </div>
    <p class="lastStepInfo" *ngIf="errorMessage !== ''">
      {{ errorMessage }}
    </p>

    <hr>

    <button mat-flat-button class="btn btn-primary doneBtn" (click)="modalRef.hide()">Done</button>
  </mat-step>
</mat-horizontal-stepper>