nav {
    background-color: #2A344F;
}

a:hover {
    cursor: pointer;
}

button {
    color: #9d9d9d;
    margin: auto;
}

button:hover {
    color: white;
}

/* Right side of navbar */
.navbar-inverse .navbar-nav>li>a {
    color: #c9d4df;
    font-size: 17px;
    font-weight: bold;
    font-family: 'fresno';
  }
  
  /* Left side of navbar style */ 
  .navbar-brand {
    font-weight: bolder;
    color: #c9d4df;
    font-size: 23px;
    font-family: 'Fresno';
    font-style: italic;
  }