<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="toggleNavbarCollapse()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a *ngIf="isClub" class="navbar-brand" [routerLink]="['/club-dashboard']">SportConnectors</a>
            <a *ngIf="isPlayer" class="navbar-brand" [routerLink]="['/player-dashboard']">SportConnectors</a>
        </div>

        <div class="navbar-collapse collapse" [class.collapse]="navbarCollapse">
            <ul style="float: right" class="nav navbar-nav">
                <li *ngIf="isPlayer">
                    <a [routerLink]="['/player-dashboard']" (click)="toggleNavbarCollapse()" class="headerLinks">Profile</a>
                </li>
                <li *ngIf="isClub">
                    <a [routerLink]="['/club-dashboard']" (click)="toggleNavbarCollapse()" class="headerLinks">Profile</a>
                </li>
                <li *ngIf="isPlayer">
                    <a [routerLink]="['/search-for-clubs']" (click)="toggleNavbarCollapse()" class="headerLinks">Search</a>
                </li>
                <li *ngIf="isClub">
                    <a [routerLink]="['/search-for-players']" (click)="toggleNavbarCollapse()" class="headerLinks">Search</a>
                </li>
                <li>
                    <a (click)="toggleNavbarCollapse()" class="headerLinks">Messages</a></li>
                <li>
                    <a mat-button [matMenuTriggerFor]="menu" class="headerLinks">Account <span class="caret"></span></a>
                    <mat-menu id="dropdownMenu" #menu="matMenu">
                        <!-- add routerlinks -->
                        <button mat-menu-item>Settings</button>
                        <button mat-menu-item *ngIf="isClub" [routerLink]="['/club-guide']">How to Use</button>
                        <button mat-menu-item *ngIf="isPlayer" [routerLink]="['/player-guide']">How to Use</button>
                        <button mat-menu-item>Contact Support</button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="logout()" [routerLink]="['/']">Logout</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>