.custom-container {
    margin-top: 50px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

/* Fields */
mat-form-field {
    width: 49%;
    margin: 0.5%;
}

.doubleSizeField {
    width: 100%;
}

.threeFieldsOnSameRow {
    width: 32.33%;
    margin: 0.5%;
}

.fourFieldsOnSameRow {
    width: 24%;
}

/* Accordion */
mat-accordion,
mat-expansion-panel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    /* Accordion */
    mat-accordion,
    mat-expansion-panel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
  }

/* data table */
table {
    width: 100%;
}

/* // By default, the mobile label shouldn't show */
.mobile-label {
  display: none;
}

/* Handle rows on mobile */
@media(max-width: 480px) {
  /* // Custom header label that shows in each column, with a set width and bold font */
  .mat-header-row {
    display: none;
  }
  
  .mobile-label {
    width: 90px;
    display: inline-block;
    font-weight: bold;
  }
  
    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #fff;
      border-radius: 3px;
      margin-top: 15px;
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 0 8px;
      margin: 7px 0;
      border: 0 none;
      overflow: hidden; 
      text-overflow: ellipsis;
      word-break: break-word;
    }
}




