
<!-- Upload profile button -->
<input type="file" accept="image/*" #profile (change)="upload(profile.files, 'profile')" style="display:none;">
<button type="button" class="btn btn-success" (click)="profile.click()">Upload File</button>

<!-- Upload video button -->
<div style="text-align: center">
  <input type="file" accept="video/*" #video (change)="upload(video.files, 'video')" style="display:none;">
  <button type="button" class="btn btn-success" (click)="video.click()">Upload File</button>
</div>

<!-- Delete NationalTeam button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deleteNationalTeam()">

<!-- Delete Player weakness button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deletePlayerWeakness()">

<!-- Delete Player strength button -->
<input type="button" class="btn btn-success" value="Delete" (click) ="deletePlayerStrength()">

<!-- Update button -->
<input type="button" class="btn btn-success" value="Update" (click) ="updatePlayer()">

