<app-header></app-header>
<div class="well custom-container forPlayerClubBackgroundColor">
  <mat-accordion class="example-headers-align">
    <!-- Personal Info -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>Personal Info</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-label>Update Password</mat-label><br>
      <mat-form-field>
        <input matInput placeholder="Current Password" [formControl]="currentPassword" type="password"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="currentPassword?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="currentPassword?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="New Password" [formControl]="password" type="password"
          [errorStateMatcher]="validate">
        <mat-error *ngIf="password?.hasError('minlength') && !passwordControl?.hasError('required')">
          Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="password?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-checkbox #isLooking>Currently looking for clubs</mat-checkbox>
      <br>
      <mat-form-field>
        <input matInput placeholder="First Name" [formControl]="firstNameControl" [value]="playerBinding.firstName"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [formControl]="lastNameControl" [value]="playerBinding.lastName"
          [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Country" [formControl]="countryControl" [errorStateMatcher]="validate">
          <mat-option *ngFor="let country of countryList" value="country">{{country}}</mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Day (DD)" [value]="playerBinding.day" [formControl]="dayControl"
          [errorStateMatcher]='validate'>
        <mat-error
          *ngIf="dayControl?.hasError('minlength') || dayControl?.hasError('maxlength') && !dayControl?.hasError('pattern') && !dayControl?.hasError('required')">
          Day of birth must be 2 characters
        </mat-error>
        <mat-error *ngIf="dayControl?.hasError('pattern') && !dayControl?.hasError('required')">
          Day of birth must be a number
        </mat-error>
        <mat-error *ngIf="dayControl?.hasError('required')">
          Day is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Select Month" [value]="playerBinding.month" [formControl]="monthControl"
          [errorStateMatcher]='validate'>
          <mat-option value="01">January</mat-option>
          <mat-option value="02">February</mat-option>
          <mat-option value="03">March</mat-option>
          <mat-option value="04">April</mat-option>
          <mat-option value="05">May</mat-option>
          <mat-option value="06">June</mat-option>
          <mat-option value="07">July</mat-option>
          <mat-option value="08">August</mat-option>
          <mat-option value="09">September</mat-option>
          <mat-option value="10">October</mat-option>
          <mat-option value="11">November</mat-option>
          <mat-option value="12">December</mat-option>
        </mat-select>
        <mat-error *ngIf="monthControl?.hasError('required')">
          Month is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Year (YYYY)" [value]="playerBinding.year" [formControl]="yearControl"
          [errorStateMatcher]='validate'>
        <mat-error
          *ngIf="yearControl?.hasError('minlength') || yearControl?.hasError('maxlength') && !yearControl?.hasError('pattern') && !yearControl?.hasError('required')">
          Year must be a number
        </mat-error>
        <mat-error *ngIf="yearControl?.hasError('pattern') && !yearControl?.hasError('required')">
          Year must be 4 characters
        </mat-error>
        <mat-error *ngIf="yearControl?.hasError('required')">
          Year is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Update button -->
      <input type="button" class="btn btn-success" value="Update" (click)="updatePlayerInfo()">

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Additional Info -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>Additional Info</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-label>Measurements</mat-label>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Height in cm" [value]="playerBinding.height" [formControl]="heightControl"
          [errorStateMatcher]='validate'>
        <mat-error *ngIf="heightControl?.hasError('pattern')">
          Height must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Weight in kg" [value]="playerBinding.weight" [formControl]="weightControl"
          [errorStateMatcher]='validate'>
        <mat-error *ngIf="weightControl?.hasError('pattern')">
          Weight must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Bodyfat in %" [value]="playerBinding.bodyfat" [formControl]="bodyfatControl"
          [errorStateMatcher]='validate'>
        <mat-error *ngIf="bodyfatControl?.hasError('pattern')">
          Body fat must be a number
        </mat-error>
      </mat-form-field>

      <mat-label>Positions</mat-label>
      <br>
      <mat-form-field>
        <mat-select placeholder="Primary position" [formControl]="primaryPositionCtrl" [errorStateMatcher]='validate'>
          <mat-option *ngFor="let position of positionList" value="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Secondary position" [formControl]="secondaryPositionCtrl"
          [errorStateMatcher]='validate'>
          <mat-option *ngFor="let position of positionList" value="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-label>Preferred hand</mat-label>
      <br>
      <mat-form-field class="doubleSizeField">
        <mat-select placeholder="Select Hand" [formControl]="preferredHandCtrl" [errorStateMatcher]='validate'>
          <mat-option value="Right">Right Hand</mat-option>
          <mat-option value="Left">Left Hand</mat-option>
          <mat-option value="Both">Both Hands</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>League</mat-label>
      <br>
      <mat-form-field class="doubleSizeField">
        <mat-select placeholder="Select League" [formControl]="leagueCtrl" [errorStateMatcher]='validate'>
          <mat-option value="First League">First League</mat-option>
          <mat-option value="Second League">Second League</mat-option>
          <mat-option value="Third League">Third League</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>Contract Status</mat-label><br>
      <mat-form-field>
        <mat-select matInput placeholder="Contract Status" [formControl]="contractStatusCtrl"
          [errorStateMatcher]='validate'>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Open for Offers">Open for Offers</mat-option>
          <mat-option value="In Negotiation">In Negotiation</mat-option>
          <mat-option value="Contract Expired">Contract Expired</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="contractPicker" [value]="playerBinding.contractExpired"
          [formControl]="contractExpiredCtrl" placeholder="Contract Expiration">
        <mat-datepicker-toggle matSuffix [for]="contractPicker"></mat-datepicker-toggle>
        <mat-datepicker #contractPicker></mat-datepicker>
      </mat-form-field>

      <br>
      <mat-label>Injury</mat-label><br>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Status" [formControl]="injuryStatusCtrl" [errorStateMatcher]="validate">
          <mat-option value="Injured">Injured</mat-option>
          <mat-option value="Healthy">Healthy</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Injury" [value]="playerBinding.injuryDescription"
          [formControl]="injuryDescriptionCtrl" [errorStateMatcher]='validate'>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput [matDatepicker]="picker" [value]="playerBinding.injuryExpired"
          [formControl]="injuryRecoveryDateCtrl" placeholder="Expected Recovery Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Update button -->
      <input type="button" class="btn btn-success" value="Update" (click)="updatePlayerAdditionalInfo()">

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Strengths and Weaknesses -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>Strengths and Weaknesses</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-xs-6">
          <mat-label>Strengths</mat-label><br>
          <mat-checkbox #speedy value="Speedy">Speedy</mat-checkbox><br>
          <mat-checkbox #athletic value="Athletic">Athletic</mat-checkbox><br>
          <mat-checkbox #greatShape value="Great shape">Great Shape</mat-checkbox><br>
          <mat-checkbox #quickShots value="Quick shots">Quick Shots</mat-checkbox><br>
          <mat-checkbox #accurateShooter value="Accurate shooter">Accurate Shooter</mat-checkbox><br>
          <mat-checkbox #tactical value="Tactical">Tactical</mat-checkbox><br>
          <mat-checkbox #teamPlayer value="Teamplayer">Team Player</mat-checkbox><br>
          <mat-checkbox #social value="Social">Social</mat-checkbox><br>
          <mat-checkbox #winAtAllCosts value="Win at all costs">Win at All Costs</mat-checkbox><br>
          <mat-checkbox #longRangeShooter value="Long range shooter">Long Range Shooter</mat-checkbox><br>
          <br>
        </div>
        <div class="col-xs-6">
          <mat-label>Weaknesses</mat-label><br>
          <mat-checkbox #slowMoving value="Slow moving">Slow Moving</mat-checkbox><br>
          <mat-checkbox #badEndurance value="Bad endurance">Bad Endurance</mat-checkbox><br>
          <mat-checkbox #historyOfInjuries value="History of injuries">History of Injuries</mat-checkbox><br>
          <mat-checkbox #badDefencePlayer value="Bad defence player">Bad Defence Player</mat-checkbox><br>
          <br>
        </div>
      </div>
      <div class="row">
        <mat-form-field>
          <textarea matInput [value]="playerBinding.strengthDescription"
            placeholder="Describe your strengths in depth..." matTextareaAutosize matAutosizeMinRows="10"
            matAutosizeMaxRows="10" [formControl]="strengthsCtrl" [errorStateMatcher]='validate'></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput [value]="playerBinding.weaknessDescription"
            placeholder="Describe your weaknesses in depth..." matTextareaAutosize matAutosizeMinRows="10"
            matAutosizeMaxRows="10" [formControl]="weaknessesCtrl" [errorStateMatcher]='validate'></textarea>
        </mat-form-field>
      </div>

      <div>
        <!-- Update button -->
        <input type="button" class="btn btn-success" value="Update" (click)="deletePlayerStrengthsAndWeaknesses()">
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Sport CV -->
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>Sport CV</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-label>Club info</mat-label>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <input matInput placeholder="Current club" [value]="playerBinding.currentClub" [formControl]="currentClubCtrl" [errorStateMatcher]='validate'>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Current position" [formControl]="currentPrimaryPositionCtrl"
          [errorStateMatcher]='validate'>
          <mat-option *ngFor="let position of positionList" value="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <mat-select placeholder="Current secondary position" [formControl]="currentSecondaryPositionCtrl"
          [errorStateMatcher]='validate'>
          <mat-option *ngFor="let position of positionList" value="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>Other info</mat-label>
      <br>
      <mat-form-field class="threeFieldsOnSameRow">
        <textarea matInput [value]="playerBinding.accomplishments" placeholder="Accomplishments" matTextareaAutosize
          matAutosizeMinRows="10" matAutosizeMaxRows="10" [formControl]="accomplishmentsCtrl"
          [errorStateMatcher]='validate'></textarea>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <textarea matInput [value]="playerBinding.statistic" placeholder="Statistics" matTextareaAutosize
          matAutosizeMinRows="10" matAutosizeMaxRows="10" [formControl]="statistics"
          [errorStateMatcher]='validate'></textarea>
      </mat-form-field>
      <mat-form-field class="threeFieldsOnSameRow">
        <textarea matInput [value]="playerBinding.formerClubs" placeholder="Former clubs" matTextareaAutosize
          matAutosizeMinRows="10" matAutosizeMaxRows="10" [formControl]="formerClubsCtrl"
          [errorStateMatcher]='validate'></textarea>
      </mat-form-field>

      <div>
          <!-- Update button -->
          <input type="button" class="btn btn-success" value="Update" (click)="updateSportCV()">
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- National Team -->
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>National Team</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-label>Add national team</mat-label>
      <mat-hint>There can only be one of each</mat-hint>
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="nationalTeamNameCtrl" [errorStateMatcher]="validate">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Appearances" [formControl]="nationalTeamAppearancesCtrl" [errorStateMatcher]="validate">
        <mat-error *ngIf="numbersOnlyControl?.hasError('pattern')">
          Appearances must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Position" [formControl]="nationalTeamPositionCtrl" [errorStateMatcher]="validate">
          <mat-option *ngFor="let position of positionList" value="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Statistics" matTextareaAutosize matAutosizeMinRow="3"
          matAutosizeMaxRow="3" [formControl]="nationalTeamStatisticsCtrl" [errorStateMatcher]="validate"></textarea>
      </mat-form-field>

      <!-- National Team Table -->
      <table mat-table [dataSource]="nationalTeamSource" class="mat-elevation-z8">

        <!-- Team Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Team </th>
          <td mat-cell *matCellDef="let nationalTeam"> {{nationalTeam.name}} </td>
        </ng-container>

        <!-- Appearances Column -->
        <ng-container matColumnDef="appearances">
          <th mat-header-cell *matHeaderCellDef> Appearances </th>
          <td mat-cell *matCellDef="let nationalTeam"> {{nationalTeam.appearances}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let nationalTeam"> {{nationalTeam.position}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="statistics">
          <th mat-header-cell *matHeaderCellDef> Stats </th>
          <td mat-cell *matCellDef="let nationalTeam"> {{nationalTeam.statistics}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let nextYearSquadPlayer">
            <!-- Delete Current year squadPlayer button -->
            <button mat-button color="warn" >Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nationalTeamColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: nationalTeamColumns;"></tr>
      </table>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Profile Picture -->
    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
      <mat-expansion-panel-header>
        <mat-panel-title>Profile Picture</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
          <div class="col-md-12" style="text-align: center;">
            
            <h3>Profile picture</h3>
            <div>
              <img class="responsiveImage" src="{{playerBinding.imagePath}}" height="150" width="150" />
            </div>
            <input type="file" accept="image/*" #profile (change)="upload(profile.files, 'profile')" style="display:none;">
            <button type="button" class="btn btn-success" (click)="profile.click()">Upload profile picture</button>
          </div>
        </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  <!-- Presentation video -->
  <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)">
      <mat-expansion-panel-header>
        <mat-panel-title>Presentation Video</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
          <div class="col-md-12" style="text-align: center;">
            
            <h3>Presentation</h3>
            <div>
                <video src="{{playerBinding.videoPath}}" width="100%" controls></video>
            </div>
            <input type="file" accept="video/*" #video (change)="upload(video.files, 'video')" style="display:none;">
            <button type="button" class="btn btn-success" (click)="video.click()">Upload File</button>
          </div>
        </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>